[2013-06-11 23:05] kueda opened #1 "warn users about deleting data when signing out"
Local observations get deleted when you sign out of the app, but currently there is no warning about this when you tap "Sign out."

[2013-07-17 01:51] tigerhawkvok opened #2 "Follow Android style guidelines"
As:

https://developer.android.com/design/index.html and https://developer.android.com/guide/topics/ui/themes.html

[2013-07-24 06:33] tigerhawkvok opened #3 "Add lockscreen widget (Android 4.2+)"
Add a lockscreen widget to enable one-click "Take photo and add observation". This is helpful to take more elusive photographs, rather than:

1) Unlock phone
2) Tap: Add observation
3) Tap: Add photo

This functionality would be similar to the 4.2+ swipe right to engage the camera from the lockscreen.

After the first photo is taken (during which geolocation is taken in the background), the standa

[2013-07-24 06:35] tigerhawkvok opened #4 "Clicking "Cancel" on a blank observation should discard it"
... rather than sync the blank observation, or even add it to the sync queue. An observation with no description, ID, or photo should be discarded by default unless the user clicks "save".

[2014-02-17 02:31] #2 closed, assigned to nobody

[2014-06-10 01:06] loarie opened #6 "Username/email signin bug on Android"
On the iNat iOS app, the Username field on sign-in can accept either username or email.

On the iNat Android app, the Username field accepts email and appears to use it to properly login, but something is different. For example the Settings page reads 'Signed in as loarie@gmail.com' rather than 'Signed in as loarie' and the Syncing/refreshing doesn't work.

I suspect, the app is erroneously popula

[2014-07-10 20:39] kueda opened #8 "upgrade facebook sdk"
This should happen before xmas 2014.

https://developers.facebook.com/docs/apps/upgrading/

[2014-08-05 18:26] md5 opened #9 "Add ability to share images from the gallery as observations"
I think it would be nice if iNaturalist showed up under the "share" menu in the Gallery as a way to initiate a new observation. Ideally, this would allow multiple images to be selected and added to an observation in a single share.

Unless someone else is really keen on adding this functionality, I'd be happy to take a pass at coding it myself. That being said, I haven't done any Android developme

[2014-08-05 22:23] kueda opened #10 "images failing to sync"
A number of people have reported that images occasionally fail to sync (e.g. https://groups.google.com/d/topic/inaturalist/TCjYx_hc_JY/discussion). This exception might be related:

[code]

That might mean the photo URI we're storing for the photo points to a photo that no longer exists for some reason, though why that would happen I'm not sure (user deleted photo, user moved photo (?), something

[2014-08-06 22:03] md5 opened #11 "Sync icon remains after syncing"
After syncing observations from the Observations view, the sync icon that is shown on unsynced observations continues to show. I believe this icon should not show after a successful sync. If you go back to the main view and return to the Observations view, the icon goes away.

[2014-09-19 01:40] kueda opened #12 "crash when opening a guide"
Apparently http://www.inaturalist.org/guides/953 crashes the Android app when you try to open it. @loarie can you verify this is happening and/or expand upon this?

[2014-10-01 01:20] kueda opened #13 "confirmation alert when leaving a project"
https://groups.google.com/d/topic/inaturalist/6OY62S8nmF8/discussion

Apparently the "Leave" button is close to the "Add" button on the project screen in the Android app. If it's not there already, that leave button needs an "Are you sure?" confirmation dialog.

[2014-10-01 05:23] #12 closed, assigned to nobody

[2014-10-01 16:13] loarie opened #14 "General 'Add observation' button above Project Checklist"
Need a general 'Add observation' button above project checklists as was built for Texas Nature Trackers.

[2014-10-01 16:14] loarie opened #15 "Project checklists not loading"
Some project checklists like the checklist for 'Afribats' never load. Whats going on here?

[2014-10-01 16:20] loarie opened #16 "Select Project list from Observation form empty even when logged in"
If I sign in and add an observation then click 'Select Projects' I see 'No projects found' rather than my joined projects.

[2014-10-01 16:26] loarie opened #17 "Projects -> Checklist -> Add is not loading project or observation fields"
Tapping 'Add' from a project checklist should populate the observation form with the project and its observation fields as in the Texas Nature Tracker app but this isn't happening

[2014-10-01 21:15] kueda opened #18 "crash when joining a project"
When signed into the app, find a project that you haven't joined. Tap join, and await the crash. Stack trace

[code]

Details:

Application version

1.3.6
2
Android version

Android 4.4
2
Device

Brigadier (E6782)
1

Nexus 5 (hammerhead)

[2014-10-08 00:21] loarie opened #19 "Observations taken with Android app 1.3.7 appearing as 'App: Great Lakes Fish Finder Android App'"
Not sure why this is appearing as Great Lakes Fish Finder
http://www.inaturalist.org/observations/913030
![screen shot 2014-10-07 at 5 18 58 pm](https://cloud.githubusercontent.com/assets/598026/4552300/cd683efe-4e80-11e4-91a8-4b3d0d84d9f1.png)

[2014-10-27 17:59] #19 closed, assigned to nobody

[2014-10-27 17:59] #18 closed, assigned to nobody

[2014-10-27 17:59] #17 closed, assigned to nobody

[2014-10-27 17:59] #16 closed, assigned to nobody

[2014-10-27 17:59] #15 closed, assigned to nobody

[2014-10-27 18:05] #6 closed, assigned to nobody

[2014-10-27 18:13] #14 closed, assigned to nobody

[2014-10-27 18:14] #13 closed, assigned to nobody

[2014-10-27 21:40] loarie opened #20 "Taxon_id not being consistently set with Android Taxon Choosr"
Certain taxa selected through the Taxon Chooser are getting posted without taxon_ids such as 'Isopoda':
![screen shot 2014-10-27 at 2 38 56 pm](https://cloud.githubusercontent.com/assets/598026/4800013/b6214cbc-5e21-11e4-8266-96b24251bfa1.png)

[2014-10-27 22:15] #10 closed, assigned to nobody

[2014-11-07 17:50] axenuli opened #21 "Updating to stay current with iOS app"
Hey,

In a separate email Scott mentioned that there is some work to do to get the Android app up to date with changes in the iOS app. Opening this issue to start the conversation as I'd be happy to help! Will work on a version for Minnesota Master Naturalists at some point.

Thanks!

[2014-12-11 01:52] kueda opened #22 "show checklist first for project if joined"
If you've already joined a project, show the checklist tab first, b/c presumably you already know what the project is about.

[2014-12-11 01:56] kueda opened #23 "replace "leave" button with loading / refresh button on project"
To match the iOS app, replace the "Leave" button on the project page with a button that shows a loading spinner when the checklist is loading, and a reload icon otherwise. On iOS it looks like

![img_4813](https://cloud.githubusercontent.com/assets/22691/5387886/d6768054-8095-11e4-8644-2915c04935d2.PNG)

Tapping the reload icon should refresh the list from the server.

[2014-12-16 22:24] kueda opened #24 "language choose should show all options, default to system if available"
Right now it says "Use device language settings" even if the device's locale is not supported by the app:

![20141216_090814](https://cloud.githubusercontent.com/assets/22691/5463153/1e88e740-852f-11e4-8f03-cb7a7aafa355.jpg)

That's confusing for people who see "italiano" chosen but don't actually see any Italian translations. Instead I think it should just list all the locales we *do* support, wi

[2014-12-16 23:23] #21 closed, assigned to nobody

[2015-01-06 01:19] loarie commented on #1
The text looks good - but this only works for signing out of the iNat Auth and Google for me. When I sign out from facebook the modal says: 'Logged in as: Scott Loarie, cancel, Log Out'

Can this be changed to the same text as the other sign out flows?

[2015-01-06 01:25] loarie commented on #1
Whoops - my bad - I just saw Yaron's note: 'Works both for regular login and G+ login. For FB - they have they own alert message I can't really change. The only way is to have a transparent click area on top of the button that would intercept the click and then logout if the user confirms the alert dialog.'

I guess we'll have to be satisfied with this less than ideal alert from facebook? Closing.

[2015-01-06 01:25] #1 closed

[2015-01-06 01:26] loarie commented on #11
this seems fixed to me in the latest build

[2015-01-06 01:26] #11 closed

[2015-01-06 01:35] loarie commented on #20
The taxon chooser is no longer working at all for me:
![screenshot_2015-01-05-17-29-13](https://cloud.githubusercontent.com/assets/598026/5623014/200053f6-9501-11e4-9223-026a0850b74d.png)
so I'm leaving this issue open

[2015-01-06 01:39] loarie commented on #8
Yaron says he upgraded this SDK and logging in through FB seems to work for me, so I'm closing this

[2015-01-06 01:39] #8 closed

[2015-01-09 21:49] kueda opened #26 "prompting to use Naturalista"
The iNat app is prompting you to use Naturalista on first install, even though language is English, location is San Francisco. Seen on a Galaxy Tab S

![screenshot_2015-01-09-13-45-32](https://cloud.githubusercontent.com/assets/22691/5687883/34d0088c-9806-11e4-8ef4-37107611495d.png)

[2015-01-09 21:52] kueda opened #27 "guides collection view should show the first guide photo for each taxon"
Right now it seems to be showing the last photo, but we generally consider the first photo to be the default. For example, see http://www.inaturalist.org/guide_taxa/282017 and http://www.inaturalist.org/guides/1464

[2015-01-09 21:53] loarie commented on #26
Here's the marching order's I gave Yaron about this over email:

Looking good - but it looks to me like the alert is happening everytime someone goes to the home screen even if its been canceled previously. It should trigger only when the app is launched for the first time if the user is in NZ (naturewatchNZ) or MX (naturalista) (we'll add future partners as the network expands).  And if the user

[2015-01-17 01:36] #24 closed

[2015-01-17 10:10] #20 closed

[2015-01-20 04:29] loarie opened #28 "Projects need 'Add Observation' button on checklist when offline"
This work was done for TX app (see screenshot), but not brought into main app 1.3.10 (20)
![screenshot_2015-01-19-17-18-27](https://cloud.githubusercontent.com/assets/598026/5812198/affd08b4-a019-11e4-8bed-2b690b5613fe.png)

[2015-01-20 04:40] loarie opened #29 "'Guides->all' doesn't load"
This just spins forever 1.3.10 (20)

[2015-01-20 04:49] loarie opened #30 "Should be some way to remove a photo from an observation"
The tapping an obs photo in the iPhone app opens a viewer with a little trashcan to disassociate the photo from the obs (see screenshot)
 ![photo 9](https://cloud.githubusercontent.com/assets/598026/5812314/762c2982-a01c-11e4-8f49-ccdec1479494.PNG)
This is super useful - would be great to add this feature to the Android app. Might be harder since the Android app is redirecting to an external (phot

[2015-01-20 04:52] loarie opened #31 "Searches should be global on Projects and Guides tabs"
Clicking Search on the Projects and Guides tab should be global - not restricted to your projects/guides or nearby projects/guides. That is if I click on 'your guides' and see 3 guides: a, b, and c but under search I enter d which is someone else's guide this should get returned. the Search bar should search globally

[2015-01-20 22:10] #28 closed

[2015-01-20 22:10] #29 closed

[2015-01-22 01:35] loarie commented on #28
Looks good - thanks!

[2015-01-22 03:50] kueda opened #32 "show first observation photo by id or position"
In places where we only show a single photo for an observation, we should always show the first photo, that is the `ObservationPhoto` with the lowest `position` or the lowest `id`. I think this might only be on the observations list. Currently it looks like we show the last.

[2015-01-22 03:51] kueda opened #33 "show first guide photo by id or position"
When viewing a guide the single photo chosen for each guide taxon should be the first `GuidePhoto` by `position` or `id`.

[2015-01-23 20:12] loarie opened #34 "Crash when awaking post syncing"
This crash is still happening in 1.3.10(21) it generally happens for me after I tap sync and turn my attention away from the device. When I return and wake the device up from sleep, iNaturalist has stopped

Here are the errors on Crashlytics:
https://www.crashlytics.com/inaturalist/android/apps/org.inaturalist.android/issues/54c069a365f8dfea15a8eba7

And GooglePlay:
https://play.google.com/apps/pu

[2015-01-29 08:15] #34 closed

[2015-01-30 03:18] loarie opened #35 "Minor changes to sidebar"
Remove logo, Add Obs, and Take Picture buttons from sidebar so that it looks like:
![screen shot 2015-01-29 at 7 16 59 pm](https://cloud.githubusercontent.com/assets/598026/5970699/9989004a-a7eb-11e4-8159-bc858bddc8e2.png)

[2015-01-30 03:20] loarie opened #36 "NaturaLista logo appear when switiching to iNaturalist nework"
NaturaLista logo appear when switiching to iNaturalist network:
![screenshot_2015-01-29-19-10-19](https://cloud.githubusercontent.com/assets/598026/5970708/cbf02f68-a7eb-11e4-9bd3-a5da055d0a26.png)
This should show the iNaturalist logo

[2015-01-30 03:31] loarie opened #37 "Minor changes to top bar"
1) Remove iNat bird icon from top bar throughout, e.g. Edit Observations from:

![screen shot 2015-01-29 at 7 28 16 pm](https://cloud.githubusercontent.com/assets/598026/5970784/0e5a29ac-a7ed-11e4-9fa8-2e55e0bd6149.png)

to:

![screen shot 2015-01-29 at 7 27 00 pm](https://cloud.githubusercontent.com/assets/598026/5970772/e0835ab2-a7ec-11e4-8a8e-18810fa18357.png)

2) Remove 'iNaturalist' text from

[2015-01-30 03:36] loarie commented on #34
looks fixed to me

[2015-01-30 11:22] #31 closed

[2015-01-30 11:22] #35 closed

[2015-01-30 11:22] #36 closed

[2015-01-30 11:22] #37 closed

[2015-02-05 17:37] alexshepard opened #39 "crashlytics?"
@budowski, is there any chance that crashlytics integration got lost with this latest release?

[2015-02-06 06:50] loarie commented on #39
there was a bug that lost crashlytics integratio its been fixed

[2015-02-06 06:50] #39 closed

[2015-02-06 06:51] loarie opened #40 "Menu buttons inactive"
Problem with 1.3.15
1) Open app
2) Go to settings
3) Switch to NaturaLista (redirects to Observations)
4) Return to settings
5) Try to navigate to other page (observations, guides, projects) menu buttons are inactive

[2015-02-20 01:49] kueda opened #41 "remove project lists"
Replace all project detail view with just the join button, description, icon, and an "add to project" button that shows the new observation view with the project selected. Not sure if this also means clearing out local data.

[2015-02-24 22:14] kueda opened #42 "make flurry optional"
You should need to install Flurry to get the app to build, so if possible, let's make it optional.

[2015-02-28 02:18] kueda opened #43 "date and time selectors don't work"
When you change the date or time of an observation, save the observation, and then open it again, the values appear unchanged.

[2015-03-05 22:59] loarie opened #44 "Guide taxon pages broken"
to reproduce:
1. search for 'Amphibians & Reptiles of Summit County' and open the guide
2. tap on a particular species
it loads for a second but ends up with a white screen rather than loading the guide taxon page.

This is only broken on Android - not iOS
Reported here:
https://groups.google.com/forum/#!topic/inaturalist/Z1tw4jGPD0s/discussion

[2015-03-05 23:29] kueda commented on #44
I *think* https://github.com/inaturalist/inaturalist/commit/e3607f1538579735852f4d0a3f38305a898a98ec should address this, but let's get it deployed and make sure.

[2015-03-06 04:00] loarie commented on #44
looks fixed

[2015-03-06 04:00] #44 closed

[2015-04-22 23:52] loarie opened #45 "Bug in dissapearing Sync button when photo sync interrupted"
When observations or observation photos are available to sync, there should be a flag such as the 'Sync 1 observations' displayed on the observations tab in the screen capture below:
![screenshot_2015-04-22-16-44-59](https://cloud.githubusercontent.com/assets/598026/7287906/1ad1f1ac-e90f-11e4-9328-baa81778305a.png)
However when sync is interrupted, this flag disappears even though there is unsynce

[2015-04-22 23:59] loarie commented on #45
Once this bug is fixed, I think one could argue that improvements to the Sync process might be in order. One route would be to try to resize photos. @budowski, is the app doing any photo resizing at all currently?

Alternatively, we could explore replacing the little bird icon progress indicators with something more obvious. For example here is what the iOS app does which displays big progress ind

[2015-04-23 00:08] kueda commented on #45
I am all in favor of a modal progress indicator. Background syncing seemed like a good idea, but I've witnessed numerous people completely confused by whether or not it was happening, and not knowing to check the notifications.

I'd also like to see some resizing if it's feasible, at least to a max of 2048x2048 since we resize all images on the website to that size anyway.

[2015-04-25 00:35] budowski commented on #45
I'm working on fixing this bug now.
Regarding resizing - we're not resizing the photos at the moment.
Regarding new sync behaviour - yes, I agree with @kueda that a sync initiated by the user (as opposed to just a "pull-to-refresh") should be with a modal indicator.

[2015-04-25 00:36] budowski commented on #45
Also regarding resizing - I'm not sure if this is something we want to do - because it might mean the users won't have a high-resolution version of the photos being uploaded. What do you think?

[2015-04-25 00:39] kueda commented on #45
We currently resize everything on the server to a max of 2048x2048, so I think we can safely resize that much at least, without violating some expectation of keeping exactly the original photo taken. We don't want to resize the original on the user's phone, though.

[2015-04-25 23:16] #40 closed

[2015-04-29 22:42] loarie opened #46 "Android device setting taxon.species_guess with redundant scientific name"
Observation.find_by_id(1428167).species_guess => "western heart's ease (Viola ocellata)"
![screen shot 2015-04-29 at 8 15 47 am](https://cloud.githubusercontent.com/assets/598026/7402951/acc9ffb6-ee85-11e4-940b-f13e97b2f560.png)

I can reproduce this as follows:
![screenshot_2015-04-29-15-35-54](https://cloud.githubusercontent.com/assets/598026/7402994/2e589b6e-ee86-11e4-9c93-955c0d1e67fd.png)
![s

[2015-04-29 22:43] loarie commented on #46
@kueda - how *should* this work?

[2015-04-29 22:48] kueda commented on #46
So it's an existing observation with a taxon, you download it to the Android app, open the taxon chooser, choose the same taxon, `species_guess` gets changed to "[common name] ([scientific name])" in the app, you sync, and and the species guess on the website is now "[common name] ([scientific name])"? That *sounds* like a bug in Android incorrectly setting the species guess to "[common name] ([sc

[2015-04-29 22:54] loarie commented on #46
to clarify my steps reproduce:

1. Click 'add' on Observations tab
2. in 'Species name...' type 'western hearts ease' and click search
3. select taxon 'Western heart's ease **Viola ocellata**'
4. Note 'Species name...' field now contains 'Western heart's ease (Viola ocellata)'
5. save and sync
6. check db/website and note species_guess set to 'Western heart's ease (Viola ocellata)'

[2015-04-30 18:48] loarie opened #47 "'Reset Key' and 'Recommended next step' buttons for Guide tags"
Kew is interested in using Guide tags as keys and one of the things they've requested are tools for easily reseting the tags (e.g. turning off all filters) and for navigating the user to the 'Recommended next step'

The 'Recommended next step' is calculated based on the tag choice that would maximumly discriminate the remaining set of taxa. Proceeding through these tags using the recommended steps

[2015-05-01 01:42] loarie commented on #46
@kueda - would like to get this bug fix in to the build Yaron's working on - can I say that the fixed behavior is that species_guess should be set to the default taxon_name with lexicon set to the user's account preference language? If not, what is the proper behavior for this?

[2015-05-05 02:20] kueda commented on #47
I'd prefer "Reset filters" and maybe just automatically show the recommended next step instead of adding yet another button. What's the algorithm for determining the recommended next filter?

[2015-05-06 16:25] loarie opened #48 "Display representative guide photos alongside guide tag values"
Kew is interested in using the tags infrastructure on guides as an identification key. I've played with doing that here: http://www.inaturalist.org/guides/1503

On the server, we will allow users to add tags to Guide Photos. Guide Photos with a tag like Present-in-NoCA?=yes\* (ie matching one of the guide tag key-values and followed by an *) will indicate that they should be displayed alongside th

[2015-05-06 17:23] alexshepard opened #49 "umlauts in species guess"
See this user report:
https://groups.google.com/forum/#!topic/inaturalist/CGKOF6oyYV0

It looks like species names with umlauts, when synced with the server, turn into [mojibake](https://en.wikipedia.org/wiki/Mojibake). Is this a unicode issue?

[2015-05-06 19:10] kueda commented on #46
Yes, I think that's fine. The important thing is that the app shows what the user chose. In this case they chose the taxon name that was displayed in the taxon chooser, so that makes sense.

[2015-05-07 11:48] stevenpbachman commented on #47
Yes, reset filters sounds fine, and OK to just go to recommended next step, but I think the user needs to have a way to 'pass' if they don't have enough info to answer the recommended next step question or/and revert back to the last step and pick a feature that they can answer.

There is some documentation from Lucid (key software) about how it works, see link below, page 7.
http://www.lucidcentr

[2015-05-07 20:00] kueda commented on #47
You can "pass" by just scrolling down. I don't think there's any need for additional UI. My impression is that the intent is to make this a little more like a key, but not replicate Lucid's functionality. They do have their own apps for that.

[2015-05-07 20:03] loarie commented on #47
Ken-ichi - so your solution would be for the tags would automatically sort to display in order of 'recommendedness'? If that were the case, I agree, the user could just scroll through from top to bottom

[2015-05-07 20:10] kueda commented on #47
Yes, sorry if that wasn't clear, Scott. Regarding the "recommended next couplet" algorithm, Lucid's docs are vague but roughly state they prioritize traits that divides the remaining taxa in half, which sort of makes sense from a computer scientist's perspective, but I actually prefer keys that exit quickly for obvious traits, so I might prefer the opposite: prioritize traits that divide the remai

[2015-05-07 20:44] loarie commented on #47
curious what @stevenpbachman thinks, but I agree that the choice of next step does seem to be pretty subjective. For me the main thing I can think an algorithm would do that would always be helpful is to show steps with at least some discriminating power. For example, if I chose color=red in the following example, I wouldn't want to see #wings since this can't discriminate the remaining choices A&

[2015-05-07 20:52] stevenpbachman commented on #47
I think that leads nicely on to the 'prune redundant' feature that the Lucid keys and others also have. It does exactly what you've just described, takes away any characters that won't help you discriminate. This could happen at the same time as each 'best' feature is selected. But, back to the 'recommended next' algorithm, could we actually have both? KenIchi's outliers or the half/half approach.

[2015-05-07 20:57] loarie commented on #47
the only problem with that is that Ken-ichi and I are trying to find a way that this UI could work without a button. For example, imagine you tap on color=red, then it reorders the remaining choices and scrolls you to the next one. That would be sweet, but it would mean going with an algorithm rather than adding buttons. I'm sure alot has been written about these algorithms by others so it would b

[2015-05-07 21:22] stevenpbachman commented on #47
Ok, I'm with you on trying to avoid complicating the UI. think my preference would be the half/half algorithm on the next best character, combined with the removal of redundant characters. If the next best characters are ordered in terms of equal ratio of taxa to unequal ratio, then you could still apply Kenichi's approach, but you'd be scrolling to the bottom of the list all the time, not ideal.

[2015-05-12 16:16] loarie commented on #47
Here's the eMonocot code for the NextBest algorithm that Steve found https://github.com/RBGKew/eMonocot/blob/master/emonocot-static/src/main/js/jsKey/keys.js#L848
as implemented here http://e-monocot.org/key/4#keyStarted

[2015-06-10 01:30] loarie opened #50 "Can photopicker this be internationalized"
'Select Source' below is in English - would this be internationalized in the Device or the app? Likewise, where do the 'Camera' and 'Documentos' translations come from?
![screenshot_2015-06-09-12-34-26](https://cloud.githubusercontent.com/assets/598026/8073103/40d4fe44-0ed5-11e5-94e3-306f5f5fecb4.png)

[2015-06-10 01:33] loarie opened #51 "Where are menu items being translated?"
Where is 'Explorar' in the menu being translated? I don't see it in strings.xml
![screenshot_2015-06-09-12-43-54](https://cloud.githubusercontent.com/assets/598026/8073137/dec1fa62-0ed5-11e5-994c-e1ad17a990ad.png)

[2015-06-10 01:36] loarie opened #52 "Remove caps from Projects and Guides subtabs"
e.g. 'UNIDO' should become 'Unido'
![screenshot_2015-06-09-12-45-04](https://cloud.githubusercontent.com/assets/598026/8073156/0a06ee44-0ed6-11e5-8e26-6a02b56ec79c.png)

[2015-06-10 02:04] loarie opened #53 "'Nearby' for Guides and projects should be sorted by distance, not alphabetically"
I believe this is how the APIs return the queries. Are you doing some sort of post-request sorting to make them display alphabetically?
![screenshot_2015-06-09-12-45-04](https://cloud.githubusercontent.com/assets/598026/8073469/3cbda6bc-0eda-11e5-91b4-c7c604580f51.png)

[2015-06-10 02:10] loarie opened #54 "'Ayuda con NaturaLista' tutorial link in Settings broken"
Goes to empty carosel
![screenshot_2015-06-09-18-51-00-1](https://cloud.githubusercontent.com/assets/598026/8073523/07bbce84-0edb-11e5-9e42-87d2e9d98720.png)

[2015-06-10 02:20] loarie opened #55 "Add iNaturalist Canada to the iNaturalist Network chooser"
When in Canada alert to use iNaturalist Canada (site_id 5) should be displayed. The iNaturalist Canada logo is here http://static.inaturalist.org/sites/5-logo.png

Is this iNaturalistNetwork alert text internationalized? I'm just seeing it in english on 1.3.16. But for the translation in English/French should be:

iNaturalist Canada is a member of the iNaturalist Network in Canada. Clicking OK wil

[2015-06-10 05:02] loarie opened #56 "Project checklist should be translated based on device locale settings"
e.g. this screen should show spanish names 'Plantas' etc.
![screenshot_2015-06-09-19-06-11](https://cloud.githubusercontent.com/assets/598026/8075261/02da086e-0ef3-11e5-80b5-b260c14a374d.png)

[2015-06-10 17:25] cgalindoleal commented on #50
If the app can upload audios, then it should be
Seleccionar origen
que incluiría fotos y audios.

[2015-06-10 17:27] cgalindoleal commented on #51
Explorar could be
Explorar mapa

[2015-06-10 17:32] budowski commented on #55
I have everything almost ready - but I'll need the following:
1. Better resolution logo (the current logo is pretty small)
2. The tutorial images - I'm getting a Dropbox message it's still uploading
3. The alert text at the moment is not internationalized (it's set in inat_networks.xml). In order to internationalize it, I can add it to strings.xml (i.e. have one alert string per network) and have

[2015-06-10 17:39] loarie commented on #55
1. Better resolution logo (the current logo is pretty small)

What size do you need

2. The tutorial images - I'm getting a Dropbox message it's still uploading

Thanks for the heads up will check this

3. The alert text at the moment is not internationalized (it's set in inat_networks.xml). In order to internationalize it, I can add it to strings.xml (i.e. have one alert string per network) and h

[2015-06-10 17:42] loarie commented on #55
@budowski can you access this? https://www.dropbox.com/sh/584j7oovg5zvo1x/AACULZRjbez0o9WG9V6IFXpRa?dl=0

[2015-06-10 18:07] budowski commented on #55
It still shows the Dropbox file as not being completely uploaded (i.e. it's in the process of being uploaded).
Regarding strings.xml - I used the link you've sent and did File -> download, but strings.xml doesn't contain that string.
The current code doesn't load the network alert messages from strings.xml yet...

[2015-06-10 18:09] budowski commented on #55
And regarding the logo size - current logos are 500x93

[2015-06-10 18:51] loarie commented on #55
great - working on sending these now

[2015-06-10 19:22] loarie commented on #55
Hi Yaron - strange, I'm not sure why:
alert_message_use_inaturalist
alert_message_use_naturalista
alert_message_use_naturewatchnz
are included in the crowdin strings.xml exports for FR and EN but are not in the Github versions.

In any case, do you have what you need to include them? You'd need to add a
alert_message_use_inaturalistca
translated as
English:
"iNaturalist Canada is a member of the i

[2015-06-10 19:56] budowski commented on #55
OK, sure thing - will update.
Though I'm still seeing the "file is being uploaded" message for the tutorial images...

[2015-06-10 20:02] loarie commented on #55
I just emailed you the tutorial image (there's only one unique one) did you get that? If so ignore the iNatCA tutorial dropbox link. Are you also having trouble with the NaturaLista tutorial dropbox link?

[2015-06-10 20:07] budowski commented on #55
OK, got it :-)
The Dropbox link for NaturaLista works fine.

[2015-06-10 20:49] budowski commented on #55
OK, updated all strings (pushing latest code now).
We're missing the following string translations:
es+fr: alert_message_use_inaturalist
fr: inat_sign_up_*

Note that for fr and es - I did a simple deduction from current translations to the translation in order to have an fr/es translation for the following strings:
es/fr: inat_sign_up_inaturalist/naturalista/naturewatchnz/naturalista
es only: ale

[2015-06-10 20:58] loarie commented on #55
alert_message_use_inaturalist:
es: La principal Red iNaturalist. Al hacer clic en Aceptar fijará su aplicación como parte de la red iNaturalist global.
fr: Le principal réseau iNaturalist. En cliquant sur « oui » mettra votre application dans le cadre du réseau de iNaturalist mondiale.

I can't find inat_sign_up_* here
https://github.com/inaturalist/iNaturalistAndroid/blob/master/iNaturalist/src/m

[2015-06-10 21:12] #55 closed

[2015-06-10 21:13] budowski commented on #55
Awesome, thanks! :-)
Regarding the inat_sign_up - I've git pushed the latest code - please take a look here:
https://github.com/inaturalist/iNaturalistAndroid/blob/master/iNaturalist/src/main/res/values/strings.xml

[2015-06-10 22:00] loarie commented on #55
inat_sign_up* es:
Estás por visitar NaturaLista, donde puedes registrar una nueva cuenta.
Una vez que hayas confirmado tu nueva cuenta, seleccionando el enlace
de confirmación en el correo electrónico que recibirás, puedes regresar
aquí para registrar tu nombre de usuario y palabra clave.

waiting on fr

[2015-06-10 23:11] loarie commented on #55
inat_sign_up* fr:
Vous vous apprêtez à visiter iNaturalist.ca, où vous pourrez vous inscrire grâce à une nouveau compte. Lorsque vous aurez confirmé la création de ce compte en cliquant sur le lien dans le courriel de confirmation qui vous sera envoyé, vous pourrez revenir ici pour y entrer votre nom d'utilisateur et votre mot de passe.

[2015-06-11 14:28] loarie opened #57 "Use Network choice changing locale"
Testing 1.3.17 in Canada with an Android device set to French produces the following:
1.      Set android device to French
2.      Download app and open (clicking « ouvrir »)
3.      Alert pops up saying « iNat Canada est membre du reseau iNaturalist…
4.      Click OK
5.      Tutorial shows up – note I’m seeing the tutorial, not a blank screen.
6.      Scroll through to the end and click” finish”

[2015-06-11 14:30] loarie opened #58 "Locale breaking tutorials"
Testing 1.3.17, if I set my device to French locale, download the app and use the main iNat Network member (which is the default since I'm testing in the US) the tutorial carosel shows blank screens where the jpgs should be

[2015-06-11 18:13] budowski commented on #57
This issue was caused due to the fact we used to have per-network default locale. Now we don't use this anymore (we rely on the user's locale).

[2015-06-11 18:13] #57 closed

[2015-06-11 18:14] budowski commented on #58
This was caused because the French translation (but also others, such as the Japanese one), also translated the tutorial_image* strings, which actually point to the tutorial images. Thus, the app couldn't find those images.

[2015-06-11 18:14] #58 closed

[2015-06-11 20:21] loarie commented on #57
According to James this is indeed fixed

[2015-06-11 20:21] loarie commented on #58
I can confirm this is fixed

[2015-06-18 00:36] loarie opened #59 "App should display common names according to device lexicon"
the device lexicon should influence the display of the lexicon of common names throughout (already happening on species chooser but not on the following):
1. explore tab (e.g. grid/list view and header/identifications on obs detail
2. taxon details page
3. project checklist listings

Logic should be to show common name in lexicon if it exists, if not english, if not next available common name

[2015-06-18 00:39] loarie opened #60 "App should display common names based on user place when applicable"
If the app user is logged in and has a 'place' set, then if there are multiple common names within there device locale available the one matching their place should be displayed here:
1. species chooser
2. explore tab (e.g. grid/list view and header/identifications on obs detail
3. taxon details page
4. project checklist listings

[2015-06-22 21:16] budowski commented on #59
Currently in the Taxon chooser - we have choose the lexicon according to the iNat network being chosen (not the device locale) - so this was changed to be according to the device locale (same goes for other relevant screens).

However, we have the following issues:
1. Explore - we use the observations.json endpoint - which does not return taxon_names per result (which contains the name of the taxo

[2015-06-22 21:36] budowski commented on #50
Fixed

[2015-06-22 21:36] #50 closed

[2015-06-22 21:39] budowski commented on #51
<string name="observations">Observations</string>
    <string name="explore">Explore</string>
    <string name="projects">Projects</string>
    <string name="guides">Guides</string>
    <string name="updates">Updates feed</string>
    <string name="settings">Settings</string>

I've updated the Spanish translation for the explore menu item.

[2015-06-22 21:39] #51 closed

[2015-06-22 21:55] #52 closed

[2015-06-22 21:57] #53 closed

[2015-06-22 21:58] budowski commented on #54
That was fixed in one of the previous versions - since the image tutorial filenames were accidently translated as well in values-es/strings.xml

[2015-06-22 21:58] #54 closed

[2015-06-22 21:59] budowski commented on #56
This was mentioned in my comment of issue #59 - the /lists/123.json endpoint doesn't return the taxon_names for each taxon.

[2015-06-22 22:04] budowski commented on #60
How exactly should this work?
A) What happens if the user's locale is Spanish, but their location is SF? What lexicon should we choose?
B) How do we match between a place and a lexicon? For example, for place 54321 (SF Bay Area) - how do we know its language programmatically?

[2015-06-22 22:05] loarie opened #61 "Android app observation photos not being properly rotated"
There've been several reports of photos not being properly rotated on the Android app. I've been unable to reproduce this, but here's one in particular
http://www.inaturalist.org/observations/1544244
that was reported to the Google Group
https://groups.google.com/forum/#!topic/inaturalist/eTLxU8q2sAg
using Sprint Galaxy S4, Android 4.4.2, "Camera" app version 2.0 (can't find anything else about it

[2015-06-22 23:21] loarie commented on #56
True, but if you switch to the NaturaLista domain, conabio.inaturalist.org/lists/90294.json the default name uses the site default lexicon (in this case Spanish) Will that work?

[2015-06-22 23:27] loarie commented on #56
I erased my previous comment after consulting with Ken-ichi.

Apparently all endpoints should take a locale param e.g. http://www.inaturalist.org/lists/90294.json?locale=fr
So if the User is not logged in, ideally the Android app would pass these locales along with these requests to get the proper 'default name'

[2015-06-22 23:28] loarie commented on #59
Would the locale trick I mentioned on #56 fix this?

[2015-06-23 00:18] #56 closed

[2015-06-23 00:20] budowski commented on #59
Changed it so it'll use device locale.
I'll add a new issue (enhancement) - to use the user's profile locale (if defined).

[2015-06-23 00:20] #59 closed

[2015-06-23 00:20] budowski opened #62 "Use user's profile locale (if exists) when localizing the app"

[2015-06-23 00:31] loarie commented on #62
Ken-ichi and I just talked about this briefly. Neither of us have strong feelings, but it seems the simplest approach on mobile is just to have the device override locale period. e.g. it wouldn't matter what your iNat account was set to or what network you're using (e.g. NaturaLista) it would just show you what your device is set to. What do you think about this approach? Seems simplest but maybe

[2015-06-23 00:48] budowski commented on #62
It really depends on what we're localizing.
I agree that the app strings (menus, buttons, etc.) should be set according the device locale.
But what the taxa names? What do you think?

[2015-06-23 00:53] budowski commented on #61
I've examined the code that determined the orientation of the image. It is weird - the only option I can think of is creating a version of the app that logs various debugging info while examining the photo's orientation (that would give us better understanding of what's going on there). We could do this via Crashlytics.
We can either send the user that specific version, or add that debugging info

[2015-06-23 01:06] loarie commented on #62
I think if you always include the network member domain in API calls (e.g. conabio.inaturalist.org) then it will deal with any residual preferences that involve place for now. For example, if CONABIO needs the Mexican name needs to be different from the default Spanish lexicon name, we can make that available to requests to conabio.inaturalist.org

I agree, though that we might need to incorporate

[2015-06-23 01:06] loarie commented on #61
That would be great -

[2015-06-23 04:07] budowski commented on #61
Added that debugging code. I have a suspicion this is related to the user using images from other unsupported sources (e.g. Google Drive).

[2015-06-23 04:09] loarie commented on #61
Ok - they claim it is from 'the camera app' but I can't reproduce it myseld

[2015-06-23 19:47] kueda commented on #61
@budowski, have there been any recent changes that might submit photos without EXIF data? We auto-rotate all images submitted through the mobile apps based on the `exif:orientation` tag, but for http://www.inaturalist.org/photos/1912896, it doesn't seem like we recorded *any* EXIF metadata. Looking back at photos submitted through the Android app it doesn't really look like any of them have EXIF d

[2015-06-24 01:43] budowski commented on #61
@kueda The only thing I'm thinking of is the resizing feature we've added (if photos is larger than 2048x2048) - but that would mean that we should see it on all recent photos (since all modern phone cameras create photos larger than this). What do you think?

[2015-06-26 14:08] wf8 commented on #61
This is happening with all my photos. I'm on a Samsung Galaxy S6, Android 5.0.2, Camera app version 4.0. I import each photo into the iNat app from the photo gallery. In the iNat app they are oriented correctly. On the phone the photos do contain the correct EXIF data (confirmed with an EXIF editor app). After uploading to the site the photos are no longer oriented correctly. I've been manually re

[2015-06-27 00:57] loarie commented on #61
thanks @wf8, @budowski does this make sense to you?

[2015-06-27 05:41] budowski commented on #61
It might be that the resizing of the photo on the app side might be causing the EXIF data to be lost - I'm investigating this.

[2015-06-27 11:19] budowski commented on #61
I've added code such that it'll set the orientation again when resizing the photo (as part of the upload process) - version 1.3.21. @wf8 - Please tell me if this helps, thanks.

[2015-06-27 14:35] wf8 commented on #61
Just tested, works great. Thank you!
http://www.inaturalist.org/observations/1696965

[2015-06-27 22:33] budowski commented on #61
Glad to hear :-)
@kueda / @loarie - do you want to test this with other users who reported the problem?

[2015-06-29 01:06] kueda commented on #61
I asked at https://groups.google.com/d/topic/inaturalist/eTLxU8q2sAg/discussion

[2015-07-02 16:25] calonso-conabio opened #65 "project checklist is limit"
Currently the checklist of the projects only show and auto complete the first 50 records,
is it possible to load more when scrolling?

regards.

[2015-07-15 00:16] kueda opened #68 "include version code and name in subject of help emails"
In the iPhone app when user taps the support email button, it starts an email with a subject like "iNaturalist iPhone help: version Version 2.5.7, build 179." This is super helpful for me b/c it tells me that they're talking about the iPhone app, and I know if they need to update or not.

I'm pretty sure the build name and code are the analogous attributes in Android, so I'd like support emails fr

[2015-08-03 22:25] loarie opened #69 "Date values changing"
To replicate:
1) Click 'Add' to enter the observation form
2) Tap on date to alter to some previous date and save observation
3) Tap on observation to enter 'Edit Observation' and note that the date is reset to Today's date

[2015-08-08 01:12] kueda commented on #68
@budowski Could you get to this some time next week? We're getting more and more Android support requests, and it would really help if I knew if they were using the most recent version.

[2015-08-10 01:51] budowski commented on #61
This has been reported by user as closed.

[2015-08-10 01:51] #61 closed

[2015-08-10 02:08] budowski commented on #68
Sorry about the delay - added this feature (not yet uploaded to Google Play, though, since it's part of the new holo-light version which we'll release hopefully super soon - just need Joelle's final comments on the updated version).

[2015-08-10 02:08] #68 closed

[2015-08-10 02:39] #69 closed

[2015-08-10 02:40] #26 closed

[2015-08-10 02:41] #45 closed

[2015-08-10 02:41] #43 closed

[2015-08-12 06:45] budowski commented on #47
This looks like it could be implemented client-side only (no need for server side), is that right?
Anyhow, I have a couple of questions:
1. In general, the two visual (UI-wise) things that change here, while the users selects/de-selects tags are: Ordering of tags, scrolling the list to the next property type. Is that right? Do we want to add in more visual effects? (e.g. highlighting the current p

[2015-08-12 09:02] stevenpbachman commented on #47
Just wondering if the tag categories e.g. colour, size etc. can be minimised/maximised with a tap rather than having all tags visualised at once, this could save space. The sequence would then be 1) guide opens with all tag categories showing, and best discriminator category is at top, possibly highlighted as 'next best' 2) tap to open up tag options for that category and select one or more option

[2015-08-13 01:15] joellebel commented on #47
Here are just a few UI recommendations based off @budowski's feedback:

* I also tried a "Next Best Feature" button in the first mock up to see what that looks like. A shorter phrase will allow more room for a "Clear" button with the word "Clear" in it as the icon may be confusing.
* Added checkboxes to items to make them appear more tappable
* The "Clear" and "Recommend..." buttons would have a f

[2015-08-13 01:18] joellebel commented on #48
It would be great if the photo could open up in the same viewer we use to view photos, but with a white background instead of black for consistency. However, it doesn't need the info button in the bottom center or the more menu in the upper top right.

Let me know if you need a screenshot of what I'm talking about.

[2015-08-13 01:24] joellebel commented on #47
That's ok because the highlight will indicate the recommended question

[2015-08-13 01:30] joellebel commented on #47
I am not opposed to expandable collapsing features, but wanted to propose something that would allow us to work within our current model, thus saving some time on dev and design. I also like the idea of not having to first tap on a feature and then selecting an item. Many folks may not understand the feature/question without seeing the options as well.

[2015-08-13 20:13] budowski commented on #47
@joellebel - This looks good :-)
Just a couple of follow up questions:
1. So when pressing "next step", the auto-scroll might skip a question/category, right?
2. (this one is also a question for @loarie) Should the order of the values for the recommended category be changed as well? (e.g. show tag values with more results at the top)

[2015-08-13 20:39] loarie commented on #47
@budowski - I think @joellebel's designs just use scrolling to navigate the sidebar, no reordering. (which means auto-scrolling might scroll past a question)

[2015-08-13 20:51] budowski commented on #47
Awesome - another question - @joellebel - we should also account for the info icon in the design - when pressed it should show the representative photo (see original description of the issue by @loarie )

[2015-08-13 20:53] loarie commented on #47
I think those are the little image icons she included on the leftmost mock above in between 'yes' and '3'. joelle thought those icons would be clearer than the (i)'s in my mock

[2015-08-13 21:07] joellebel commented on #47
@loarie Yes, you are right. Please also see https://github.com/inaturalist/iNaturalistAndroid/issues/48# for a description of the interaction.

Yes.

[2015-08-13 22:43] budowski commented on #47
Got it - didn't notice (my bad).
So should I start working on this or is there anything else that needs to be discussed?

[2015-08-14 20:11] joellebel commented on #47
Just wondering if anyone has any further comments. If not, I will begin creating the visual assets for @budowski. Thanks.

[2015-08-14 21:00] stevenpbachman commented on #47
looks good to me :)

[2015-08-14 22:19] kueda commented on #48
@budowski, server side changes for this have been added. Basically `<GuidePhoto>` elements in the XML now have tags (used to be only `<GuideTaxon>` elements). To find an image illustrating a particular `<GuideTaxon>` tag, look a `<tag>` element with the same predicate or inner text.

Example: http://www.inaturalist.org/guides/1503.xml has a number of `<GuideTaxon>` elements with `<tag predicate="N

[2015-08-15 03:38] budowski commented on #48
@kueda  - Awesome, I'll let you know of any issues/questions :-)
@joellebel  - So basically the photo viewer will be a new screen (and not a floating layout like in the mockup), right? Also, could you please send me the info icon asset? Thanks :-)

[2015-08-17 18:05] pleary opened #70 "Sort observation photos by position, then ID ascending"
This was reported in the google group (https://groups.google.com/forum/#!topic/inaturalist/2OBWW3qz_IA) as:

Normally we sort by position first, then everything with a null position is shown after, sorted by ID ascending. Here is an example of an observation with explicit position settings:

http://www.inaturalist.org/observations/210706.json

[2015-08-18 23:53] joellebel commented on #48
@budowski  Yes.

[2015-08-24 22:36] kueda opened #71 "editing date does not work"
To replicate

1. create an observation and save
1. edit the observation, change the date, and save
1. observation date has not changed

[2015-08-24 22:41] loarie commented on #71
I believe this is fixed in the current beta - checking now...

[2015-08-24 23:16] budowski commented on #71
It was fixed - but not yet in beta, if I'm not mistaken (it was emailed to you guys).

[2015-08-25 00:07] kueda commented on #71
Thanks. Will try and be better about checking closed issues in the future.

[2015-08-25 06:09] budowski commented on #47
OK, I'm working on the algorithm implementation now - please tell me what you think:
int min_count = current_taxa_results.count;
for (tag in all_tags) {
    // Only look for tags that are not already used in the filter
    if (tag is not already selected) {
        // See how many taxa are returned from using the current filter (while adding the current tag as well).
        var taxa = filter_taxa

[2015-08-25 06:12] budowski commented on #47
Note that this is not the same algorithm as in eMonocot, since they rely on types of information we do not have at the moment (correct me if I'm wrong) - for example, whether or not a trait is quantitative or categorical.

[2015-08-25 06:46] kueda commented on #47
If you have all the tags loaded you could probably test a predicate to see if it's quantitative or not by seeing if the first tag having that predicate has a value that's a number.

Could you even do something simpler, like pre-generate counts for how many times each predicate is used, and instead of filtering an array of taxa by whether or not each taxon has a tag using the predicate, just choose

[2015-08-25 16:25] budowski commented on #47
@kueda - but if we use, there would be some cases in which the recommended next tag won't help out in filtering the taxa - for example (similar to @loarie's example):
[code]

Let's say we first choose color = red. According to the algorithm you suggested, we'll choose number of legs next - but that won't help us narrow down the result list (but choosing number of legs will).

What do you think?

[2015-08-26 00:57] loarie commented on #47
Hi Yaron,

I agree that the eMonocot algorithm seems too (overly?) complex to be useful.

Looking at your algorithm, I'm confused at
[code]
 If in the above example with 'Color:Red,Red,Blue,Blue' is current_tag the predicate (e.g. 'Color') or is current_tag the value (e.g. one of  'Color:Red' or 'Color:Blue')? Because it seems it should be the predicate since thats what we're selecting, but it onl

[2015-08-26 08:54] budowski commented on #47
@loarie - Awesome! This looks great :-)
Just one question:
How did you get to a nil value for the variance? How do we use "taxa count with no value" in the calculation of the variance/mean?

[2015-08-26 16:58] loarie commented on #47
I got a nil when n=1 (where n is the number of values) because dividing by (n-1) = 0. But I guess it might be easier to just test n>1
mean = sum_{i=1}^n(xi)/n
variance = sum_{i=1}^n(xi-mean)^2/(n-1)

I didn't use the "taxa counts with no value" in calculating mean and variance - sorry if including them in the table added confusion

so for example for [1,1,1] n=3
mean = sum( [1,1,1])/3 = 1
variance

[2015-08-27 03:04] budowski commented on #47
Awesome, got it :-)
Will implement this way.

[2015-08-27 11:00] stevenpbachman commented on #47
Looks like a sweet solution. Just wondering:

* Does maximum mean always win, even if variance is high?
* What if you have matching mean and variance, it just randomly selects?
* One thing I was wondering, will it suggest the ‘next best’ when you first open up the tags/predicates?

Thanks, Steve

[2015-08-27 11:10] budowski commented on #47
1. I think so - @loarie ?
2. Yes.
3. Currently it doesn't do so. What do you guys think?

[2015-08-27 13:12] loarie commented on #47
1. It does in the above - can you think of an example @stevenpbachman where that doesn't make the 'right' decision?
3. I envisioned the sidebar button behaving as it does now, and only on the new 'recomended next step' button navigating you to a optimized predicate. But I don't have strong feelings

[2015-08-27 14:32] stevenpbachman commented on #47
1. just tried with a few other examples and it seems stable
2. happy to leave it up to the user to initiate the 'next best'. I guess they may already have a character in mind or starting point e.g. family and will want to scroll to that. Which now makes me think, how will the characters/predicates be ordered?

[2015-08-27 19:32] budowski commented on #47
Currently the character/predicates are ordered by the way they appear in the guide's XML file. But of course we can sort them alphabetically, for example.
What do you think?

[2015-09-01 12:07] stevenpbachman commented on #47
Maybe this is a small piece of functionality missing from the guide builder? You can sort the species in the guide, but not the tag category (characters/predicates) order. I would say leave the app as is and let it pick up the order as per the XML file as you say.

[2015-09-01 18:14] #71 closed

[2015-09-01 18:19] kueda opened #72 "don't confirm discard changes if there were no changes"
Currently when you view the observation detail view then tap the phone's back button or the back icon in the upper left of the app, it pops up a modal asking you if you're sure you want to discard changes, even if you haven't made any changes. IMO, this should only appear if you have made changes.

[2015-09-01 18:29] kueda opened #73 "map icon illegibly light on obs detail"
![screenshot_2015-09-01-11-25-35](https://cloud.githubusercontent.com/assets/22691/9612840/aa36fa5a-509c-11e5-94bd-18784916c126.png)

Probably need a dark gray version of that image.

[2015-09-01 20:09] joellebel commented on #73
@budowski will create asset unless you can tint that icon a different color. In that case, I will give you the color.

[2015-09-01 22:21] joellebel commented on #47
The first pass is looking really good. After playing around with it a bit, I came up with a few tweaks to help with usability.

## Screen 1: Next Step Highlight Tweak

The next recommended filter would be clearer, if its header was the inat green and the options had an inat green tint of 10% opacity. This will really help distinguish it from other filters with selected options. See below mock up.

[2015-09-02 00:00] kueda opened #74 "species chooser should show best common name"
Currently it seems like the `TaxonAutoCompleteAdapter` is choosing the first taxon name that matches the device lexicon, but not in any particular order. For example, if I search for Phyla it's shown as "Common Lippia":

![screenshot_2015-09-01-16-48-29](https://cloud.githubusercontent.com/assets/22691/9619987/97f59ae4-50ca-11e5-96e6-a3bc7b58b75e.png)

even though it's top name in the relevant loc

[2015-09-07 20:50] kueda opened #75 "observation list tappable activity area needs to be a little bigger"
I'm repeatedly finding myself tapping it and ending up on the obs detail view instead of the activity view.

[2015-09-08 17:50] kueda opened #76 "import photo metadata and choosing taxon resets obs date / location"
To replicate:

1. Start a new observation
1. Import a photo from documents and choose to import metadata. You should see that the obs date and location match the photo metadata
1. Type in a name and tap the magnifying lens icon to bring up the taxon chooser. Choose a taxon
1. Upon returning to the obs detail screen, the date and location have returned to their original values, i.e. the current tim

[2015-09-08 18:06] carrieseltzer commented on #76
Totally watched this happen to 2 new users last month as I showed them how
to use the app. Glad it's documented now.

On Tue, Sep 8, 2015 at 1:50 PM, Ken-ichi <notifications@github.com> wrote:

--
Carrie E. Seltzer, Ph.D.
National Geographic's Great Nature Project
www.greatnatureproject.org

[2015-09-08 22:51] kueda commented on #47
@budowski, if you can address Joelle's issues in a day then I'd say go for it, but if it looks like longer than that let's table them for now. I think they're all good ideas, but also think what you've got currently meets the original requirements.

[2015-09-09 22:34] budowski commented on #47
I think I can make those changes within a day or so - will work on it and send you guys a new version to review.

[2015-09-10 00:50] budowski commented on #47
OK, I've implemented the changes suggested by @joellebel - added it as a beta release.

[2015-09-10 01:05] joellebel commented on #47
@budowski thanks! Will do!

[2015-09-10 01:32] #47 closed

[2015-09-10 02:37] kueda commented on #47
Currently experiencing a bug in which after I click recommended next step,
every time I scroll the tag list it automatically scrolls back to the
recommended next step,  which means I can't select any other tags. Thus
seems to happen for all guides.
On Sep 9, 2015 6:32 PM, "budowski" <notifications@github.com> wrote:

[2015-09-10 04:47] budowski commented on #47
Weird - I'll look into this and fix

[2015-09-10 20:10] budowski commented on #47
OK, fixed the issue

[2015-09-14 23:24] joellebel commented on #47
Just tested on Android 4.0 and all is working for me. Will test on lollipop tomorrow when my Nexus 5 comes back from Colorado. (I accidentally left it there) Great stuff!

[2015-09-17 19:45] kueda opened #77 "import photo metadata should overwrite coordinates with blank values"
I suspect this is working when the photo has coordinates in its metadata, but as far as I can tell if it doesn't have coordinates, the coordinates on the observation are preserved. This is leads to a lot of problems when people take photos in the field with a different app, then use the iNat app at home to import those photos. If the photos don't have coordinates, their observations will have the

[2015-09-17 19:58] kueda opened #78 "empty toasts on observation list after pull to refresh"
If you pull to refresh and get no new updates, you get an empty toast. We should just not show a toast if that happens.

[2015-09-21 17:41] kueda opened #79 "include user ID or login with help emails"
Currently we include version and build in the subject, but it would also be useful to have some way of looking up the account of the person who emailed us. Usually I can use their email address, but not always.

[2015-09-26 00:27] budowski commented on #46
Already fixed

[2015-09-26 00:27] #46 closed

[2015-09-26 00:28] #70 closed

[2015-09-26 00:28] #74 closed

[2015-09-26 00:28] #75 closed

[2015-09-26 00:28] #76 closed

[2015-09-26 00:28] #78 closed

[2015-09-26 00:28] #79 closed

[2015-09-28 20:03] kueda opened #80 "can't delete photos"
When I'm in the app and I tap on a photo from an observation detail page, I get the option to view it in the Photos or Gallery app. Regardless of which I choose, I do not have the option to delete the photo, which is frustrating when I took a photo I didn't like and want to take another.

I don't know if this is a simple change to the Intent we make, or if this necessitates building our own photo

[2015-09-28 22:45] kueda opened #81 "link URLs in project descriptions"
If it's easy, can we link the URLs in project descriptions on the project detail screen? Links should open in a web browser app, not in the iNat app.

[2015-09-30 21:09] kueda commented on #77
This is not fixed. To replicate

1. Add a new observation and allow it to get your current coordinates. Don't add a photo. Save.
1. Edit that observation and import a photo from documents that does not have coordinates in its metadata. Say yes to importing photo metadata

The coordinates of the observation have not been nullified.

[2015-09-30 21:18] kueda commented on #73
This is what I'm seeing as of 85e2cfbc36963e31d3aea577c4b7bb987d2f224f

![screenshot_2015-09-30-14-16-34](https://cloud.githubusercontent.com/assets/22691/10206864/071f9874-677e-11e5-8bda-fc093d4f5582.png)

[2015-09-30 21:18] kueda commented on #72
This doesn't seem fixed to me as of 85e2cfbc36963e31d3aea577c4b7bb987d2f224f. Is it working for you, Yaron?

[2015-09-30 22:52] #77 closed

[2015-10-01 17:36] kueda opened #82 "CheckList.refresh_with_observation not quite working"
http://www.inaturalist.org/observations/1944801 is RG and in http://www.inaturalist.org/places/alameda-county, but this morning I found that while Ligidium latum (the observed taxon) was on the Alameda County checklist, it was not marked as confirmed and the stats had not been updated at http://www.inaturalist.org/listed_taxa/6670863. When I ran `CheckList.refresh_with_observation(1944801)` it had

[2015-10-01 17:37] #82 closed

[2015-10-01 19:03] kueda commented on #72
Still not fixed. This is pretty easy to replicate: tap on any of your observations from "My Observations" and then tap the OS back button or the back button in the header and you'll get the popup even though you didn't make any changes.

[2015-10-01 19:08] #73 closed

[2015-10-01 19:39] joellebel opened #83 "Login/Sign Up text and button showing on "Taxon" screens"
The Login/Sign Up text and button shows up on "Taxon" screens and while they are loading. See screenshots...

![screenshot_2015-10-01-12-28-13](https://cloud.githubusercontent.com/assets/11527994/10231726/30846a30-6839-11e5-8c37-f0ed5fa34d8c.png)

![screenshot_2015-10-01-12-27-56](https://cloud.githubusercontent.com/assets/11527994/10231727/308459d2-6839-11e5-91c3-2af5e392d5a3.png)

[2015-10-02 00:11] #72 closed

[2015-10-04 21:16] kueda opened #84 "add ability to stop sync"
You should be able to stop the upload process. If you've started the upload accidentally and you have 50+ observations to upload, the app becomes unusable.

[2015-10-04 21:26] kueda opened #85 "post photo metadata"
Currently it seems like the app posts photos without any of the EXIF or other metadata in the file, but it would be a useful backup of data when the app fails to record the information that the camera apps write to the photo files. Looking at the code it *seems* like the app just finds the image file in the local filesystem and posts that so I'm actually not sure why this isn't happening already.

[2015-10-05 21:22] kueda commented on #85
Now that I've found the resizing code, I think this is happening because of that. Looks like we're *only* writing the orientation tag:

https://github.com/inaturalist/iNaturalistAndroid/blob/master/iNaturalist/src/main/java/org/inaturalist/android/INaturalistService.java#L1865

Preferably we'd write *all* the metadata from the original image to the resized. This might be useful: http://stackoverfl

[2015-10-05 21:56] md5 commented on #85
Some EXIF tags may not make sense to copy over, such as `Exif.Photo.PixelXDimension` and other size-related tags.

[2015-10-08 05:32] budowski commented on #83
Fixed in build 67

[2015-10-08 05:32] #83 closed

[2015-10-10 02:54] kueda opened #86 "gps should engage for new obs after photo capture if coordinates not set"
Currently if you start a new observation and launch a camera app before the coordinates are set, once you get back to the obs details page the coordinates remain unset. I think that what should happen is that the app should try again to get coordinates. This should only happen when returning from a camera app to a new observation.

[2015-10-12 02:35] budowski commented on #85
OK, it seems that there is no library for both reading and writing extended EXIF data (the library @kueda mentioned only reads the data, doesn't write it). The Android default ExifInterface allows writing/reading of specific tags (not everything), and there is no other way of resizing an image while preserving its EXIF data.

What we can do is write code that only transfers some of the known tags

[2015-10-12 12:36] UrK opened #87 "RTL layout issue when creating an observation"
When creating an observation in RTL layout "Save" and "Delete" buttons overlap, so it is impossible to save the observation.

The fix:
https://github.com/UrK/iNaturalistAndroid/commit/22658c553b8dc13cd9f5304c1f6fbefc767a543c

[2015-10-12 14:29] UrK opened #88 "Missing RTL images"
Sorry for not doing this as a PR, the fork start to move away from the original project.
New direction aware images should have their equivalent in RTL layout. They are added in this commit:
https://github.com/UrK/iNaturalistAndroid/commit/4e6abb5e31e2b1a0c4e5fba822bc8b352b00cbb1

[2015-10-12 23:21] kueda commented on #88
If you want to fork a project but maintain the ability to contribute to the original, I'd recommend forking and maintaining two branches, one for work that can be merged back to the original, and one for the very customized stuff that can't. We can cherry pick your commits, but it doesn't leave much history on github and makes it harder for us to review the impacts.

[2015-10-13 06:15] UrK commented on #88
@kueda, I agree but I have a mother of all excuses: lack of time.
Will definitely do this. This modification is very contained one: addition of a few images, and should be simple to integrate.

P.S. You have mother of all excuses too not to integrate it- not being able to merge. :smile: I will absolutely understand that and will try to branch later.

[2015-10-13 19:48] UrK opened #89 "Updated Hebrew translation, removing duplicate file"
Pls, pull Hebrew translation file (updated for new login flow) from:
https://github.com/UrK/iNaturalistAndroid/blob/master/iNaturalist/src/main/res/values-he/strings.xml

Also, the file is duplicated now: once in _values-iw_ and another one in _values-he_. In the fork there is a single folder _values-he_ and a symlink to it- _values-iw_

P.S. Sorry once again for missing pull request

[2015-10-14 03:42] #86 closed

[2015-10-19 06:16] #81 closed

[2015-10-19 23:50] kueda opened #90 "should not lose place on explore grid / list view"
Currently when I'm on the Explore grid or list view and I tap on an observation, when I return to the grid or list view it is scrolled back up to the top, which is frustrating when I'm scrolling through looking for observations to identify. These views should remember my position in the collection when I leave it to go to the observation detail view, and return me there when I come back to the gri

[2015-10-26 03:33] budowski commented on #85
@kueda - Is this working properly for you?

[2015-10-26 06:45] kueda commented on #85
Can you pull that commit into the main repo, or push a beta build?

[2015-10-26 18:30] budowski commented on #85
Yes, it's already published as beta on Google Play.

[2015-10-26 19:34] kueda commented on #85
In that case, no, not working. Just installed the app from the Play Store
(build 70) and uploaded http://www.inaturalist.org/photos/2572757 (same
photo described above) and I don't see any metadata parsed. When I upload
that photo directly to the website, metadata is parsed.

On Mon, Oct 26, 2015 at 11:30 AM, budowski <notifications@github.com> wrote:

[2015-10-27 06:06] budowski commented on #85
@kueda - OK, will look into this, thanks.

[2015-10-27 06:07] #90 closed

[2015-10-28 07:50] UrK opened #91 "Crash when trying to login second time after entering wrong password"
The user tries to login and enters wrong password.
Error message is shown as expected.
Now when trying to login for the second time, the app crashes: sign-in AsyncTask is activated once again despite being one-use.

[2015-10-28 17:01] kueda commented on #91
@UrK, what version of the app are you seeing this on?

[2015-10-28 17:03] UrK commented on #91
The most recent version from Play Store

[2015-10-28 17:03] kueda opened #92 "include build number beside version on settings screen"
So users can see and report the build number when reporting bugs. Not important for most people, but very important for people running beta builds. I know they can see it when they start a support email (which is also important), but this will make it easier for ppl reporting bugs by other means.

[2015-10-28 17:04] kueda commented on #91
What is the version listed on the settings screen?

On Wed, Oct 28, 2015 at 10:03 AM, Uri <notifications@github.com> wrote:

[2015-10-28 18:04] UrK commented on #91
The version is 1.4.0

[2015-10-28 19:59] budowski commented on #91
I'll look into this today

[2015-10-29 04:48] #91 closed

[2015-10-29 04:48] #92 closed

[2015-10-30 20:38] joellebel opened #93 "Profile picture distorted"
The profile picture is distorted. See below screenshot...

![screenshot_2015-10-29-16-16-59](https://cloud.githubusercontent.com/assets/11527994/10857450/693bebf8-7f0b-11e5-86ed-80bfb7c13b2e.png)

[2015-10-30 22:01] budowski commented on #93
This is strange, since I'm using the medium icon from the API endpoint. Before it was the thumbnail url.
I'll look into this

[2015-10-30 22:08] alexshepard commented on #93
@budowski I ran into this on iOS, too. it turns out Joelle's user profile image isn't square, so it'll stretch/squish if the scaling doesn't honor the original aspect ratio.

[2015-11-02 01:48] kueda opened #94 "phone should not sleep during sync"
Not sure if we ever had this in the Android app, but it's how it works in the iPhone app.

[2015-11-02 01:51] kueda opened #95 "camera launches automatically on rotate, doesn't save photo"
To replicate, from the obs detail screen, tap the camera and the action sheet appears. If you rotate from portrait into landscape while the action sheet is visible, the camera app launches automatically. If you take a picture, you do not return to the obs detail screen but instead remain in the camera app. If you hit the back button to get back to inat, the photo you just took has not been saved.

[2015-11-02 05:49] kueda commented on #95
I suspect this is related: sync also does not complete. I recorded a couple of observations today, all with photos. Got home, on wifi, and synced. The app went to sleep while syncing, so I brought it back up, tried syncing again, saw the "not all photos were synced" message. Now the app is stuck in a state where it says there are 11 observations to sync, even though all observations have synced, j

[2015-11-02 06:04] #93 closed

[2015-11-02 21:53] kueda commented on #95
@budowski, I'm not sure where the code was when you pushed it to the store, but when I run a build at 443a354a15993bf29ecb6f3b007a03198f8a9325, I still get this rotation bug, but when I run 34877227b8d55ef2153a267955e0104efce0bc20 (current HEAD of master), it seems to be fixed.

[2015-11-07 17:53] budowski commented on #95
OK, created this tag with the fix and no confirmation dialog, so you can test it for yourself as well:
https://github.com/inaturalist/iNaturalistAndroid/releases/tag/v1.4.0%2B75

[2015-11-14 01:53] joellebel opened #96 "Tutorial"
The Prev/Next links in the upper right are white on a light gray background and people cannot see them. I watched a user almost give up on getting through the slide show. I vote for removing the tutorial at first app launch as it will soon be out of date anyways. If not, we should make the buttons black so they are more visible. @kueda @loarie Thoughts?

Hopefully, we can get out a new slideshow s

[2015-11-14 01:56] loarie commented on #96
can you paste in a screenshot - otherwise I'll check it out Tues

[2015-11-14 01:58] joellebel commented on #96
![screenshot_2015-11-13-17-56-58](https://cloud.githubusercontent.com/assets/11527994/11161390/170c4334-8a30-11e5-9084-ebcbc915258d.png)

[2015-11-14 02:01] loarie commented on #96
lets make them black for now if you think its urgent (@budowski seems like an easy change?) - seems like we need to put some thought into on boarding on the apps and we also need to consult CONABIO about removing the tutorial. So lets wait on your latter fix until you have a plan for app onboarding. Sound good?

[2015-11-14 04:19] budowski commented on #96
Sure thing - I'll update this for the next build.

[2015-11-16 04:53] #96 closed

[2015-11-16 04:57] budowski commented on #96
Published build 77 that includes the fix for this (confirmation screen disabled since it's a public release).

[2015-12-07 23:47] kueda opened #97 "Observations list should show some kind of"

[2015-12-07 23:48] kueda opened #98 "Observations list should show some kind of loading indicator when loading your obs after sign in"
Right now it just says "No observations" or something while it loads the observations in the background. If you have a lot of observations, this takes a while and the app feels broken.

[2015-12-08 00:56] joellebel commented on #98
Yep. Sounds good to me. For simplicity sake we could use the standard toast (see below) and it could read "Downloading Observations..." Otherwise, @budowski I guess we could use the loader built-in to the OS or whatever loader we use elsewhere in the app. It's just nice that the "Downloading Observations..." is a little more explanatory.

![image](https://cloud.githubusercontent.com/assets/1152799

[2015-12-08 20:27] #97 closed

[2015-12-13 02:58] #98 closed

[2016-01-02 02:37] kueda opened #101 "obs doesn't appear to be uploading after adding an additional photo"
1. Add an observation in auto-upload mode, let it upload
1. Edit that observation and add a photo
1. The observation appears in the obs list but doesn't appear to be uploading, even though it is. In a few seconds, the toast appears saying the photo was uploaded.

IMO, the obs should appear to be updating just like it does when you edit the description.

[2016-01-04 02:20] carrieseltzer opened #102 "Initial log in with G+ fails"
Install, open.
Tap "log in with google+"
Authorize iNaturalist to use G+ to log in (device is already logged in and connected).
Wheel spins like it's working, but it returns to pretty flower page with log in/sign up options (suggesting the log in failed).
Tap "log in with google+".
This time it works.

I couldn't replicate this when I uninstalled the app and reinstalled it. I think it has to do wi

[2016-01-04 14:47] budowski commented on #102
Hi,

When you logged-in - did you do it from the main screen, or did you press the "Already have an account? Log In" button in the bottom of the screen first?

Could you please try to uninstall the app, go to the following page and remove iNat from the list of approved apps:
https://security.google.com/settings/security/permissions

And then see if this issue is recreated?

Thank you much,
Yaron

[2016-01-04 14:49] #101 closed

[2016-01-04 14:49] carrieseltzer commented on #102
Hi Yaron,
I'll try those steps tonight at home when I have the device again. Thanks
for mentioning the permissions step.
Carrie

On Mon, Jan 4, 2016 at 9:47 AM, budowski <notifications@github.com> wrote:

--
Carrie E. Seltzer, Ph.D.
National Geographic's Great Nature Project
www.greatnatureproject.org

[2016-01-05 01:54] carrieseltzer commented on #98
I still see "no observations yet" right after I log in.

![screenshot_2016-01-04-20-49-14](https://cloud.githubusercontent.com/assets/7501183/12105704/486b5776-b325-11e5-8c07-d03980c8d3c6.png)

[2016-01-05 02:01] carrieseltzer commented on #102
Ok. Removing permissions was key. If sign out, then remove permissions (even without uninstalling), when I click "Google+" to login (from both the main pretty flower screen and the "already have an account? log in" screen) and say ok, it says "signing in" and then takes me back to the screen where I started with no indication that I've been logged in. Then if I click "google+" again, it shows its

[2016-01-05 02:04] carrieseltzer opened #103 "G+ and Facebook log in options hidden by keyboard"
When you go to the log in page, the Facebook and G+ log in options are hidden by the keyboard. You have to know how to hide the keyboard (which took me a while as a new Android user) to see that it's even an option. See screenshots. Can you move up the fb and g+ buttons so they are in view?

![screenshot_2016-01-04-20-41-26](https://cloud.githubusercontent.com/assets/7501183/12105832/9ee8fabc-b326

[2016-01-05 04:04] kueda commented on #80
I feel like this was added in a semi-recent build, but maybe only from the confirmation screen. Is that right, @budowski? This feature would really be most useful from the edit screen.

[2016-01-05 04:09] kueda opened #104 "don't show "no observations" if the app is just in the process of downloading them"
When you first sign in the observations list says "No observations yet!" even if you do have observations but they are the process of being downloading. There is a toast that says "Observations downloading" or something but it usually goes away before the download is complete. I think the the "No observations yet!" text should read "Observations downloading..." while the download is in progress.

[2016-01-08 00:37] joellebel opened #105 "Me Observation Detail FUNCTIONAL Spec"
- [Overview] (#Overview)
   - [Scrolling] (#Scrolling)
   - [Captive / Cultivated Flag] (#Captive)
- [Info Tab] (#Info_Tab)
   - [Notes] (#Notes)
   - [Species Name States] (#Species)
   - [Data Quality States] (#Data)
   - [Location Detail Screen] (#Location_Detail)
   - [Location States] (#Location)
   - [Custom Fields] (#Custom_Fields)
- [Activity Tab] (#Activity_Tab)
   - [Not Logged In] (#act

[2016-01-08 00:38] joellebel commented on #105
@budowski Still working on this... just wanted to post it in case my browser crashes. Will let you know when it's totally done.

[2016-01-09 02:06] joellebel commented on #105
@budowski All these sections that have a "To DO" next them are not ready. Everything else is ready. Will work on this over the weekend. Let's go over this together Monday after the Review meeting as this screen is pretty complex. Tnx.

[2016-01-09 18:16] kueda opened #106 "submit UUID with observation and photo POSTs"
http://www.inaturalist.org/observations/2565856 and http://www.inaturalist.org/observations/2565832 were both created from the same version in the Android app (version 1.4.0, build 91), probably due to repeat posting due to a dropped Internet connection (initial POST never received a response even though the server received and processed the request, app then POSTed again the next time there was a

[2016-01-11 11:13] #87 closed

[2016-01-15 10:30] #103 closed

[2016-01-15 10:30] #104 closed

[2016-01-15 10:30] #106 closed

[2016-01-17 20:53] kueda opened #108 "date formatting bug, no space after year"
Not sure how consistent it is, but saw this today.

![screenshot_20160117-122526](https://cloud.githubusercontent.com/assets/22691/12380016/75fddd8e-bd1c-11e5-8484-8ea0d44f9e2e.png)

[2016-01-17 20:55] kueda opened #109 "confirmation screen should indicate that it's trying to find a location"
Right now it doesn't seem to do anything while it's trying to find a location, which makes it impossible to tell if it's failed to find a location or if it's trying. My preference would be to replace the map marker icon with a spinner and the location text to "Finding location..." or whatever we're using on the old obs detail screen while the app is trying to find a location, and using the current

[2016-01-20 00:56] loarie commented on #105
looks good - as you said, I don't need to be at the meeting to discuss

[2016-01-21 02:17] joellebel commented on #105
@budowski I've updated the above functional spec to reflect today's discussion. It's probably best to reread the whole spec.

Still working on Captive / Cultivated wording. Will let you know when it's ready.

[2016-01-26 19:37] carrieseltzer opened #111 "Editing observation with obscured location takes you to obscured location"
When you manually obscure a location on an observation and then try to edit the location, it takes you to the obscured location instead of the true location.

To replicate:
Upload (or view) an observation with an obscured location (pick something like your home that you know well).
Tap into it.
Tap "GPS", then "edit location".
See that it takes you to the publicly visible, randomly assigned locati

[2016-01-29 00:14] loarie opened #112 "Revamp project pages"
Essentially completely revamp the project pages so that they don't show checklists and do show project posts, obs, and stats. Spec'd out/designed for iOS by @joellebel here:
https://github.com/inaturalist/INaturalistIOS/issues/240
https://docs.google.com/document/d/1uKSVmMRBFKf9nLRRcSlVj4dG2z0yPjZMfn2GL3KpVVw/edit?usp=sharing
Ignore (a) (b) (c) in this doc - no longer relevant

[2016-01-29 00:15] loarie opened #113 "Replace Activity with News Feed"
Build a News feed that renders this:
http://www.inaturalist.org/posts/for_user.json
spec'd for iOS by @joellebel here:
https://github.com/inaturalist/INaturalistIOS/issues/249

[2016-01-29 00:21] loarie opened #114 "Minor changes to project navigation"
Filter 'Featured projects' by nearby-ness. e.g. if there are the following featured projects
Project A, no place
Project B, nearby place
Project C, far place

Only projects A & B should show up in Featured
and maybe ask you some questions about searching projects (cc'ing @joellebel)

[2016-01-29 01:17] joellebel opened #115 "Me Observation Detail STYLING Spec"
# Font and Icon Properties

![image](https://cloud.githubusercontent.com/assets/11527994/12664240/f33eea8a-c5e2-11e5-97f2-e48b073fd157.png)

# Mostly Spacing Measurements

![image](https://cloud.githubusercontent.com/assets/11527994/12664826/b47e9476-c5e7-11e5-8c8e-4d4fdba89186.png)

# Data Quality Details

![image](https://cloud.githubusercontent.com/assets/11527994/12664998/03463f2c-c5e9-11e5-86

[2016-01-29 02:55] joellebel commented on #115
@budowski will get to the Activity and Fave tabs either later tonight or early tomorrow morn. Is this enough to go on for the mean time?

[2016-01-29 02:56] joellebel commented on #115
@budowski Also, feel free to show us functional build before getting into the nitty gritty of the visuals.

[2016-01-29 03:52] joellebel commented on #115
One last thing... anywhere the measurements are in pixels was meant to be points, so px=pt in the above specs.

[2016-01-29 16:54] budowski commented on #115
@joellebel - looks enough to go on at the moment thanks :-)

[2016-02-02 22:15] joellebel opened #116 "Functional Bug Finds for #105"
Here are some small issues with work done according to #105. Please disregard anything you are still working on.

- [x] **Species Page Add Button:** Although, it was never specced out I think we should remove the "Add" button on the taxon page that is reached from ob detail screen. It can confuse user, since they already see this ID associated with their ob. @kueda @loarie, any objections?

- [x]

[2016-02-02 23:38] kueda commented on #116
Regarding the Add button from the taxon page, it needs to be there when you get there from the taxon chooser, but I agree it should not be there when reached from the obs detail view.

[2016-02-03 00:51] joellebel commented on #116
Added two more bugs: Photo viewer and Notes

[2016-02-08 17:06] budowski commented on #116
Fixed the issues - latest beta build (93)

[2016-02-08 17:28] joellebel opened #117 "Observation Detail Edit Screen"
![image](https://cloud.githubusercontent.com/assets/11527994/12893130/4b558dc8-ce44-11e5-84c3-b368b5bdd700.png)

* Tapping the checkmark icon in the top bar saves the observation whether or not there are changes. If no changes are made it simply closes the screen.

* Tapping the back button takes the user back to the previous screen. If changes have been made the user if presented with with this c

[2016-02-08 17:41] kueda commented on #117
Interaction all sounds fine. My only problems are with the checkmark button. I'm not sure that will read as a saving action, and would prefer the word "Save." I also lament its movement from the accessible bottom of the screen to top of the screen, which for me is going to necessitate a lot of two-handed use or dropping my phone.

[2016-02-08 17:46] budowski commented on #117
This looks fine on my account - just a few changes to the existing screen

[2016-02-08 20:32] kueda opened #118 "deleting an observation from edit brings you back to detail"
In theory deleting an observation should bring you back to the obs list with a toast saying "observation deleted" or something.

[2016-02-08 20:48] kueda opened #119 "use higher res image on obs detail"
On my Nexus 5x they look blurry relative to what you see when you tap them even though they're the same width:

![screenshot_20160208-123419](https://cloud.githubusercontent.com/assets/22691/12898563/2fe452c2-ce62-11e5-81f2-19f41285e4c6.png)
![screenshot_20160208-123426](https://cloud.githubusercontent.com/assets/22691/12898564/31bc8db2-ce62-11e5-8aca-2bfe88732291.png)

[2016-02-08 20:52] kueda commented on #80
@budowski, where are we at this this? It's not in build 93.

[2016-02-08 20:59] kueda opened #120 "comments section on obs detail needs padding when not uploaded"
![screenshot_20160208-125025](https://cloud.githubusercontent.com/assets/22691/12898880/b41e5244-ce63-11e5-8c0e-ccee9bd6cfaf.png)

[2016-02-08 21:07] kueda opened #121 "log in screen layout compression"
Nexus 5X:
![screenshot_20160208-125547](https://cloud.githubusercontent.com/assets/22691/12898841/8ca401d2-ce63-11e5-880b-58de548fe37f.png)

Moto G:
![screenshot_20160208-125608](https://cloud.githubusercontent.com/assets/22691/12899123/c7e87506-ce64-11e5-880f-bde054f2b66a.png)

[2016-02-08 21:12] kueda opened #122 "allow swipe between observation edit views"
Something we've agreed to do on iOS but haven't implemented: allow the user to swipe to nav between observations from the edit view to enable efficient editing of observations. The order should be the same as that shown on the observations list. We do not need to implement this for the obs detail view, just edit.

This is not a huge priority, but if you're looking for something to do, it would cer

[2016-02-08 21:44] joellebel opened #123 "Taxon Screen Interim Solution"
This is quick interim solution to the Android taxon screen I came up with awhile back. The goal was to work with the current webview formatting and offer a link to view the rest of the screen in Wikipedia's site because their site has a mobile design.

![image](https://cloud.githubusercontent.com/assets/11527994/12899685/6756553e-ce67-11e5-9717-98ad7089f0df.png)

If this is something we want to sp

[2016-02-08 21:53] alexshepard commented on #123
Thanks!

[2016-02-08 22:25] joellebel commented on #123
@budowski @kueda Perhaps, the best place to start with this issue is to get a sense of how time consuming it is to take wikipedia content and create a native or webview Android page out of it?

[2016-02-08 23:11] kueda commented on #123
I'll let Yaron provide a time estimate,  but I think it should be pretty straightforward to make a native version of http://www.inaturalist.org/taxa/47686-Protozoa.mobile using the data at http://www.inaturalist.org/taxa/47686-Protozoa.json

[2016-02-08 23:59] budowski commented on #123
The main question is what data we want to show in the native view? (which fields?)

[2016-02-09 00:01] budowski commented on #119
It's because we're using the mid-sized thumbnail for that screen - will fix

[2016-02-09 00:02] budowski commented on #121
That was added since the keyboard would hide FB/G+ buttons - will see a way around it

[2016-02-09 00:08] budowski commented on #80
My bad - slipped through the cracks. There is a delete button for the confirmation screen only at the moment (but not for the edit observation screen).
@joellebel - your opinion on how it should look like, UX-wise? (delete photo for edit screen)

[2016-02-09 16:58] joellebel commented on #80
On the current Edit Screen photo view there is an action menu with Help & Feedback in it. I would put "Delete" in that menu. Let me know if you need a screenshot.

[2016-02-09 17:06] joellebel commented on #117
The checkmark is being use more often on Android. I believe it kinda came with the advent of material design. They are really striving to use icons in the top nav bar especially when there is an action overflow menu present.

I hear ya on the reaching fingers, but having the save action in the upper right is a pretty standard Android interaction model. See Calendar, Contacts, Gmail, Instagram and

[2016-02-09 17:20] joellebel commented on #109
This sounds good to me!

[2016-02-10 22:28] joellebel commented on #116
This is all looking good. Just some minor new things which are listed in priority...

- [ ] **Map Preview View Mode:** Please make this street view as opposed to satellite view. See below screenshot for reference...
![image](https://cloud.githubusercontent.com/assets/11527994/12962978/f3815cf2-cffc-11e5-8f6b-f9f5710ddb6d.png)

- [ ] **Map N/A:** Not sure why there's an "N/A"... Is this because the

[2016-02-10 23:11] kueda commented on #123
I think just what Joelle has in that first mock:

* default photo, with license and attribution
* Wikipedia summary
* link to Wikipedia

[2016-02-10 23:43] joellebel commented on #123
Do I need to come up with styles for headings 1-5, bullet points and what not?

[2016-02-11 00:02] joellebel commented on #116
...forgot to mention... When I tap on the projects button if the ob is part of a project I have not joined that project does not show up on the projects screen as it appears to be a list of only the projects I have joined. For example, http://www.inaturalist.org/observations/2645223 This ob has been added to "San Mateo County Bio-Blitz" This is not showing up for me in the projects list when I ent

[2016-02-12 19:20] joellebel commented on #116
@budowski I just realized that this was in the original spec in regards to projects:

This obviously won't work because an observation can be included in a project the user has not joined. Can we do a simple list view of the projects the ob is included in? Essentially, it would look the same as the current project chooser screen, but without the checkboxes and only show the projects the ob is asso

[2016-02-12 19:59] joellebel commented on #116
- [ ] **No Photo State:**Just realized this was also not in the original spec... Obs without a photo get their corresponding iconic taxa. See the below example...
![image](https://cloud.githubusercontent.com/assets/11527994/13018643/8072d842-d17f-11e5-898c-821c3e0141c9.png)

One change is that it should say "No Photo" as opposed to "No Photo Available"

* The text and icon are black 60%. The text

[2016-02-15 13:27] #108 closed

[2016-02-15 13:28] budowski commented on #116
Fixed new issue - beta build 94

[2016-02-17 04:47] joellebel commented on #113
@budowski I thought I'd copy and paste the important bits of the Android News Feed here because it can be a bit confusing to read through all the dialogue of the iOS spec.

## Functional  Spec

![image](https://cloud.githubusercontent.com/assets/11527994/12597023/e1acfcdc-c437-11e5-80af-f9ce970317ee.png)

### Notes

* Feed will be called "News" for now since it only contains newsy items.
* Please

[2016-02-17 05:51] joellebel commented on #117
@budowski This is really looking great.

Here's some things I've noticed...

## Bugs

- [ ] **Notes not showing up:** After I tap the edit button, make a note and save, I am then taken to the ob screen, but the notes aren't showing up. I have to go back to list view and then back to the ob for the notes to appear. Same thing when I change geoprivacy, captive/cultivated, date, etc. Is there any way

[2016-02-17 05:52] joellebel commented on #117
Anyone else finding the above bugs?

[2016-02-18 23:09] joellebel commented on #114
Closing this issue because these details are taken care of in this isue: https://github.com/inaturalist/iNaturalistAndroid/issues/112

[2016-02-18 23:09] #114 closed

[2016-02-18 23:26] joellebel commented on #112
@budowski just a note that I updated the above Projects google doc with the Project Joining terms modal.

[2016-02-18 23:45] joellebel opened #124 "Observation Flow Select Projects Screen"
Can we change the title of this screen to "Select from Joined Projects"? This way it is clear why there is a limited number of projects on this screen and what projects are on this screen. See below screenshot for reference...

![image](https://cloud.githubusercontent.com/assets/11527994/13161931/f9cc290c-d655-11e5-8ba7-a31da82c9f5e.png)

[2016-02-19 00:47] joellebel commented on #116
Looking good... I checked off all the ones that are done

The only one I'm seeing up there that isn't done is implementing a map view for the map preview.  We've talked about it though.

I found a more items...

## Bugs

- [ ] **Crashing when tapping on map preview:** The app keeps crashing when I tap map preview and I cannot get to the Location screen

## UX

- [ ] **Loc/Acc display on map previe

[2016-02-19 00:52] joellebel commented on #117
@budowski

Just noticed this...

Can we use the same projects chooser screen we use in ob flow? This one...

![image](https://cloud.githubusercontent.com/assets/11527994/13163197/ecf92f40-d65f-11e5-9ecf-eb454c3d7878.png)

Right now we're using an older version.

[2016-02-19 02:19] loarie opened #125 "add hyperlinks to text in new obs detail"
@budowski can you add hyperlink formating to URLs to these screens
![screenshot_2016-02-18-17-46-12](https://cloud.githubusercontent.com/assets/598026/13164661/db4427bc-d66b-11e5-91ae-3d74626b0c93.png)
like in the old obs activity screens?
![screenshot_2016-02-18-17-46-22](https://cloud.githubusercontent.com/assets/598026/13164662/db44a5ca-d66b-11e5-9348-2ef9d2b82e9d.png)

[2016-02-19 16:44] #118 closed

[2016-02-19 16:44] #119 closed

[2016-02-19 16:44] #120 closed

[2016-02-19 16:44] #121 closed

[2016-02-19 16:44] #125 closed

[2016-02-19 16:44] #111 closed

[2016-02-20 20:46] budowski commented on #124
Done (build 95)

[2016-02-20 20:46] #124 closed

[2016-02-20 20:47] budowski commented on #117
Fixed all issues (build 95)

[2016-02-20 20:49] budowski commented on #116
Fixed most issues - build 95.
@joellebel - regarding:
* Projects screen - that extra project info (description) should be returned from the /observation/1234.json endpoint (currently it's not being returned). So we need a server side change for this.
* Geoprivacy icons - they are being shown, as long as it's obscured/private (otherwise, there's no icon). Or aren't those showing up for you?

[2016-02-22 21:50] joellebel commented on #117
This is looking good.

A few things...

- [ ] **Thumbnail Bug:** Some thumbnails aren't cropped to a squared version resulting in dark gray area to left and right of them.  See screenshot...![image](https://cloud.githubusercontent.com/assets/11527994/13233716/e2febf34-d969-11e5-83dc-517a3526b777.png)

- [ ] **Thumbnail Radio Button:** Can we add so top padding so these buttons fall in the middle o

[2016-02-22 23:44] joellebel commented on #116
- [ ] For the no photo state, can we change the background back to its original gray so you can see the share button more. Current...
![image](https://cloud.githubusercontent.com/assets/11527994/13236689/d69af88c-d97a-11e5-8fce-9f2df9453858.png)

Desired background color..
![image](https://cloud.githubusercontent.com/assets/11527994/13236693/de9978a6-d97a-11e5-8fa5-c72a1c3954cd.png)

Tnx.

[2016-02-23 00:43] joellebel opened #126 "Observation Detail Location Issues"
- [x] **Location Label Not Updating:** Here's what I started with...
![image](https://cloud.githubusercontent.com/assets/11527994/13237028/5aa4572a-d97d-11e5-9451-792c45bbf0ad.png) I then when to the edit location screen, don't move anything and tap done. Here's what the ob edit screen looks like before I tap Done...![image](https://cloud.githubusercontent.com/assets/11527994/13237057/8b8694c0-d97

[2016-02-23 00:47] joellebel commented on #126
- [ ] Forgot to mention all my labels look like this...
![image](https://cloud.githubusercontent.com/assets/11527994/13237877/fc1bdd8e-d983-11e5-8655-63b071b1edbb.png)

[2016-02-23 04:14] joellebel commented on #116
@kueda Is this something you or @pleary need to do? Is it time consuming?

- [ ] **Project Button:** When there is one project can make it say Project (singular)? For reference...
![image](https://cloud.githubusercontent.com/assets/11527994/13234173/4e1826a0-d96c-11e5-9bb4-714ec4babbe1.png)
Please also give that button a 1pt corner radius.

- [ ] **Map Preview:** Please give a 1pt corner radius to

[2016-02-24 01:05] kueda commented on #125
FWIW, links in comments and IDs seem to be working, but not in observation descriptions.

[2016-02-24 01:08] kueda commented on #116
FYI, project descriptions should be in the obs responses now: http://www.inaturalist.org/observations/2687333.json

[2016-02-24 01:12] kueda commented on #109
Current solution seems to be to replace the location text with a spinner. Is it possible to replace the map marker with a spinner instead? If not, can we at least center the spinner in the text area?

[2016-02-24 01:16] kueda opened #127 "allow tutorial to be skipped on first launch"
Right now you *have* to go through every single tutorial screen before using the app. Let's add a "Skip" link next to "Next" that just closes the tutorial.

[2016-02-24 22:00] joellebel commented on #127
Yes. Agreed. Just a heads up, people would see it more if it was on every screen in a more central location, but I think since we're getting rid of that tutorial soon, putting it in the tool bar to the left of "Next" sounds good to me.

Also can we put a 1pt medium gray divider line between the two words so it's clear they are two separate actions?

[2016-02-24 23:03] joellebel commented on #127
...or whatever divider the OS warrants.

[2016-02-25 00:34] joellebel commented on #123
# Design Options for Taxon Screens

![image](https://cloud.githubusercontent.com/assets/11527994/13305847/771d9456-db13-11e5-8a00-249933981e51.png)

Let me know if anyone has any strong feelings about either direction. When the photo caption is placed over the photo I like how everything gets pushed up a bit. Also, like the greater separation between the photo and the heading. Also, most of the ph

[2016-02-25 01:13] joellebel opened #128 "Captive/Cultivated Functionality Changes"
We are changing a few things to captive/cutlivated on mobile. They are as follows...

## Obs Edit Screen
The state of the observation should always display the owner's vote.

For example...
![image](https://cloud.githubusercontent.com/assets/11527994/13306536/55df15ca-db19-11e5-98bc-e1062a344715.png)

## Explore Tab
To avoid having to deal with the display of captive on obs detail to non-observati

[2016-02-25 01:41] joellebel opened #129 "Explore > Observation Detail Screen"
The Explore > Ob Detail Screen is the same as the Me > Ob Detail with some minor changes...

* The is not editable
* Just reminder to remove the delete button from the photos when viewed in fullscreen
* Once marked flagged as Captive / Cultivated it would need to be removed from the Explore tab immediately.
**Question:** Should we make this immediate? Just wondering if the user makes a mistake, th

[2016-02-26 20:09] joellebel commented on #123
@budowski is going to start this tomorrow so if anyone has a strong opinion (@kueda @loarie) now is the time to share

[2016-02-26 20:35] joellebel opened #130 "Observation Detail Event Tracking"
The events to track for this screen can either be found in Flurry in the iOS event tracking section or here: https://github.com/inaturalist/INaturalistIOS/blob/master/INaturalistIOS/Analytics.h#L124-L161

@loarie @kueda Correct me if I'm wrong, but this is a lower priority item and is something that should come after the new Projects section is implemented.

@budowski Please let us know if you hav

[2016-02-29 05:39] kueda opened #131 "location not set when adding an image offline"
To replicate:

1. Put your phone in airplane mode
1. Tapp the "+" button from the observations list
1. Choose "Take Photo" or "Choose Image"
1. Watch the location spinner spin forever

When you choose "Skip Photo" the location is retrieved just fine, and when you edit an observation created using the steps above, you can also set the location by using "Get current location," so this is not an issu

[2016-02-29 05:43] kueda opened #132 "obs list / detail memory management issue"
See https://play.google.com/apps/publish/?dev_acc=15421172454815845728#ErrorClusterDetailsPlace:p=org.inaturalist.android&et=CRASH&lr=LAST_7_DAYS&ecn=java.lang.OutOfMemoryError&tf=VMRuntime.java&tc=dalvik.system.VMRuntime&tm=newNonMovableArray&nid&an&c&s=new_status_desc.

To replicate, basically just make a few observations and try editing them, particular going from list -> detail -> edit -> taxo

[2016-02-29 05:48] kueda opened #133 "taxon chooser crash"
See https://play.google.com/apps/publish/?dev_acc=15421172454815845728#ErrorClusterDetailsPlace:p=org.inaturalist.android&et=CRASH&lr=LAST_7_DAYS&ecn=java.lang.NullPointerException&tf=ImageUtils.java&tc=org.inaturalist.android.ImageUtils&tm=getRoundedCornerBitmap&nid&an&c&s=new_status_desc.

[code]

Unfortunately I can't replicate this, but I experienced it this weekend while trying to search for

[2016-02-29 05:51] kueda opened #134 "make taxon chooser use autocomplete"
Currently the taxon chooser uses `/taxa/search.json`, which only matches taxa when you have complete search terms, so "huma" will never match _Homo sapiens_ until you type "human". Refactor `TaxonSearchActivity` to use http://api.inaturalist.org/v1/docs/#!/Taxa/get_taxa_autocomplete instead, which should match taxa based on partial matches.

[2016-03-01 13:19] budowski commented on #116
Fixed latest issues + added project description to the selector screen (build 96)

[2016-03-01 13:21] budowski commented on #117
Fixed issues (build 96).
@joellebel - Project rules bug:
A) The error will remain until we sync the observation. Do you think we should change this behaviour?
B) Could recreate the crash. Also looked for it in Fabric/Crashlytics... Can you still recreate this with the latest build (96)?

Thanks

[2016-03-01 13:24] budowski commented on #109
@kueda  - The problem with showing the loading indicator only instead of the map marker, is this: What should we show instead of the text on the right side of that row?

[2016-03-01 15:14] budowski commented on #123
Uploaded - build 96

[2016-03-01 19:18] kueda opened #135 "remove passwords and HTTP Basic auth"
Seems like we are still storing passwords and using HTTP Basic auth, e.g. https://github.com/inaturalist/iNaturalistAndroid/blob/master/iNaturalist/src/main/java/org/inaturalist/android/INaturalistService.java#L1910. We should only be using oauth at this point, so let's get rid of that stuff. All we should be storing are oauth tokens.

[2016-03-01 19:51] joellebel commented on #123
Cool! Will take a looksee!

[2016-03-01 21:07] budowski commented on #126
Fixed in build 98

[2016-03-02 01:56] joellebel commented on #123
Wow. Great eye for not having the source file or specs ;). The below items are organized by priority.

Just some minor finds...

## Bugs

- [ ] **Photo Stretching:** What I believe is vertical photos are being stretched. Can we make them the width of the screen and crop the tops and bottom like we're doing with the photos on the ob detail screen. See example...

![image](https://cloud.githubuserco

[2016-03-02 02:00] joellebel commented on #123
One last thing...

- [ ] I've change the Wikipedia button to the following...

![image](https://cloud.githubusercontent.com/assets/11527994/13448362/733f635a-dfd7-11e5-94a7-27db56ab05bc.png)

This is a little more explicit.

[2016-03-02 02:22] joellebel commented on #117
Still need to look at the above items (A and B), but just noticed that the arrow needs to be removed for Unknown Species...

![image](https://cloud.githubusercontent.com/assets/11527994/13448770/81307d8e-dfda-11e5-9ad3-e885096cd078.png)

[2016-03-02 02:24] joellebel commented on #116
Meant to put this in this issue...

Just noticed that the arrow needs to be removed for Unknown Species...

![image](https://cloud.githubusercontent.com/assets/11527994/13448770/81307d8e-dfda-11e5-9ad3-e885096cd078.png)

[2016-03-02 02:40] joellebel commented on #126
Noticing...

- [ ] Geoprivacy does not update immediately after returning to the ob detail screen from the edit screen

 - [ ] Still getting crashes when I tap on the map preview

- [ ] Still not seeing location preview of my own ob when I make it private.

## Lower Priority

- [ ] Can we vertically middle align these so they line up with each other and are exactly in the middle of the label?

![i

[2016-03-02 02:47] joellebel commented on #117
This is fine in my opinion.

Attempted to add obs to projects several times and got crashes immediately after tapping on project in the project chooser screen

[2016-03-02 10:01] budowski commented on #116
Fixed - going to be available in the next build (99)

[2016-03-02 10:03] budowski commented on #117
Fixed in latest build (99)

[2016-03-02 23:29] joellebel opened #136 "Overlapping issues in all sections"
The user is experiencing text overlapping images on the Android app (Android version 4.1.2 running iNaturalist 1.4.0 (77)).  See attached screenshots.

![image](https://cloud.githubusercontent.com/assets/11527994/13479410/7d9280da-e08b-11e5-965b-78f92cc1cc2f.png)

[2016-03-02 23:40] loarie commented on #136
Here's the original report https://groups.google.com/forum/#!topic/inaturalist/CFPtsoxS5zk -

[2016-03-03 09:44] budowski commented on #126
Fixed - will be out in the next release (build 99)

[2016-03-06 17:10] #109 closed

[2016-03-06 17:10] #128 closed

[2016-03-06 17:10] #131 closed

[2016-03-06 17:10] #133 closed

[2016-03-07 21:44] budowski commented on #132
Fixed in latest build (99)

[2016-03-07 21:44] #132 closed

[2016-03-07 21:45] #127 closed

[2016-03-08 17:40] joellebel commented on #123
@budowski This is looking great. Just one minor thing... Can we remove the underline on the photo credit link and keep it bold? tnx!

[2016-03-08 17:45] joellebel commented on #129
@budowski This is looking good. I noticed when I change my own obs to Captive/Cultivated from the Me section, they do not show up in the Explore section as expected. However, I noticed when I mark something as Captive/Cultivated it does not update the Data Quality status of the ob.

[2016-03-08 18:52] kueda opened #137 "set place_guess from coordinates of imported photos"
As of build 99, when you tap the "+" icon and choose and existing image that has GPS data, the coordinates of the observation get set correctly, but the `place_guess` just says "Set place," even if you have an internet connection. I think the app should try to reverse geocode the coordinates and set a place guess based on the coordinates imported from the photo.

[2016-03-09 20:33] joellebel commented on #126
@budowski This is all looking good. I notice when I take change an observation location from private to obscured the location gets deleted and I see this on the ob detail screen...

![image](https://cloud.githubusercontent.com/assets/11527994/13649532/145e460e-e5f3-11e5-902d-9727784dcc8e.png)

[2016-03-09 21:10] kueda opened #138 "restore ability to tap on activity count from observation list"
Seems like we've lost it as of build 99. It used to open a view that showed all comments and IDs. I'd be happy if we restore that, but an alternative that wouldn't require keeping around that old activity would be to show the obs detail page with the comments / IDs tab selected.

[2016-03-10 02:15] joellebel commented on #112
Just a note that the Sketch file for Projects can be found here: https://www.dropbox.com/sh/jyt5m8pn99g4avp/AAAuPDeDIBqWO3WUVZIgOE6ka?dl=0

## Some Notes:

Please use the height of the green button in these mock ups even it's different than the height used in other parts of the app. We can always update those buttons later. I'm referring to this button...

![image](https://cloud.githubusercontent.

[2016-03-10 02:24] joellebel opened #139 "Tool Bar Uniformity and Updates"
@budowski You mentioned changing is the toolbar is an app-wide change and relatively simple so I thought I'd put together an issue for it because it might be a good idea to roll this into the projects section. Please let us know the time involved in implementing the following...
# Toolbars

Changing all Toolbars to the following:
- Make white
- Update dropshadow to Black @15%;  x, y - 0pt, 1pt; bl

[2016-03-10 02:25] joellebel commented on #139
This issue is still in the works. Will let you know when it's ready!

[2016-03-14 11:40] budowski commented on #134
Changed in latest build (100) - @kueda , note that the autocomplete API doesn't return the iconic_taxon_name (we need that in order to draw the proper icon marker on the map, the in various screens). Is it possible add that field to the API results as well?

[2016-03-14 12:24] budowski commented on #129
@joellebel  - Fixed in the latest build (100)

[2016-03-14 12:53] budowski commented on #126
@joellebel  - Fixed in the latest build (100)

[2016-03-14 12:57] budowski commented on #123
@joellebel - fixed in the latest build (100)

[2016-03-14 12:57] #117 closed

[2016-03-14 12:57] #116 closed

[2016-03-14 12:57] #105 closed

[2016-03-14 13:00] #115 closed

[2016-03-14 13:01] budowski commented on #95
@kueda - is this still happening to you in the latest build (100)?

[2016-03-14 13:03] budowski commented on #136
Could not recreate this - very strange. I'm releasing the 100 build as public - is it possible for him to upgrade to that version and see if it's still happening?

[2016-03-15 00:03] joellebel commented on #117
Tested the projects and all is working for me.

[2016-03-15 17:44] kueda opened #140 "updates not being marked as read"
Previously when you viewed the comments and IDs view, it would mark updates for that observation as "read" and the activity notification on the observation list would go from green to black. Currently when you view the activity on the observation detail view, it does not mark updates as read, and the activity notification is always green. I'd like to restore the previous functionality for the new

[2016-03-15 17:47] kueda opened #141 "pull-to-refresh crash"
I haven't experienced this myself but it's our top crash in build 100 according to fabric (https://fabric.io/inaturalist/android/apps/org.inaturalist.android/issues/56e68f7affcdc04250d1fa3c):

[code]

[2016-03-15 19:14] joellebel commented on #126
That location disappearing bug occurred for me one last time when I changed an ob geoprivacy from open to obscured to private, but I wasn't able to replicate it so I think we're all good to go here! Plus, I think that user flow is a bit of an edge case. Sayonara issue 126!

[2016-03-15 19:50] joellebel commented on #116
This is all looking great! Just missing a few low priority items like the lat/long ellipsizing spec and the tabs styling (which has changed slightly with Projects design anyways).  I'll make separate little issues for those for down the road.

[2016-03-15 20:09] joellebel opened #142 "Ob Detail Location Preview Lat/Long Label Optimization"
Currently, the accuracy is getting cut off when there is only a lat/long present. See below...

![image](https://cloud.githubusercontent.com/assets/11527994/13792345/a43ae6b4-eaae-11e5-87b9-0a7589206ad0.png)

Please limit the Lat./Lon. to 3 numbers after the decimal with ellipses. This should hopefully better accommodate a lat/long, acc, and geoprivacy icon.

[2016-03-15 23:37] joellebel opened #143 "Observation Detail Tabs Styling Updates"
See below tab styling guidelines based on original specs and recent updates.

(Just an FYI Projects is a higher priority than this issue)

- [ ] **Tabs:** Tabs should have a white background, no bottom border and here's the drop shadow specs: ![image](https://cloud.githubusercontent.com/assets/11527994/13797417/a840fade-eaca-11e5-8ca4-d6eb4a7d522d.png)

#### See current...
![image](https://cloud.g

[2016-03-16 02:04] #141 closed

[2016-03-16 02:05] budowski commented on #141
Fixed the crash in build 101 - it seem we reached our dex limit, and Android 4 and below didn't properly support multi-dex - so I added it explicitly as in this solution: http://stackoverflow.com/a/32236382

[2016-03-16 16:59] kueda opened #144 "OutOfMemoryError on ObservationViewerActivity"
Not as serious as the dex issue, but still on the rise as of build 100: https://fabric.io/inaturalist/android/apps/org.inaturalist.android/issues/56e6e6aaffcdc04250d40c1e

[code]

[2016-03-16 18:02] kueda commented on #134
Autocomplete is looking good, minus the absence of the iconic taxon images. `iconic_taxon_name` should be included in the API response now, though.

[2016-03-18 22:22] kueda opened #145 "obs detail crashing for obs with obscured coordinates"
I think this is probably only for obs of threatened taxa. I have a fix. https://fabric.io/inaturalist/android/apps/org.inaturalist.android/issues/56e71636ffcdc04250d513f0

[code]

[2016-03-18 23:44] #145 closed

[2016-03-21 02:01] kueda opened #146 "taxon chooser should allow you to choose what you typed as the species_guess"
Currently if the taxon chooser can connect to the Internet and your query returns results, it just shows the results and doesn't let you just choose what you typed. E.g. if you enter `test` it will show Testudines etc, but you can't choose "test" and just set the `species_guess` as you can in the iOS app.

[2016-03-21 02:02] kueda opened #147 "location editor needs satellite option"
The location editor should let you toggle between map and satellite views.

[2016-03-21 14:30] budowski commented on #134
Working with iconic_taxon_name (build 101+)

[2016-03-21 14:30] #134 closed

[2016-03-21 15:07] #138 closed

[2016-03-21 15:07] #140 closed

[2016-03-21 15:07] #142 closed

[2016-03-21 15:07] #146 closed

[2016-03-21 15:07] #147 closed

[2016-03-21 16:49] joellebel commented on #123
Looks great!

[2016-03-21 16:49] #123 closed

[2016-03-21 17:30] joellebel commented on #128
Works fabulously!

[2016-03-22 04:38] kueda commented on #144
I just hit this again on my Moto G, so I'm not sure it's fixed. Here's a stack trace:

[code]

FWIW this is not consistent. I hit this while looking at one of my own observations from the obs list after looking at a bunch of stuff on the explore tab.

[2016-03-22 04:51] kueda opened #148 "image on obs detail not scaling correctly for new images"
To replicate, take a new photo with the app, save, then view. The obs detail page will show it cropped instead of scaled correctly.

[2016-03-22 07:16] joellebel commented on #139
@budowski This is ready to go. Please let me know if you have any questions!

[2016-03-22 07:20] joellebel opened #149 "Taxon Screen Photo Credit Link"
We've revised where the photo credit links to you on the Taxon screen. Currently, on iOS it is linking to the original photo and for platform parity, should do the same on Android. Please see iOS taxon screens for examples.

@kueda Can you add anything I may be missing here. Tnx.

[2016-03-22 13:39] #144 closed

[2016-03-22 13:39] #148 closed

[2016-03-22 13:40] budowski commented on #144
Hopefully, the latest method will do - if not, we'll have to do runtime calculations of free heap memory and resize accordingly.

[2016-03-22 19:00] kueda commented on #149
Sorry I didn't get a chance to look at it before you worked on it, Yaron. So the intent here is to link the attribution to a page where the viewer can see the full attribution and licensing information in case that gets truncated in the app, so linking to the actual photo file will not suffice.

If you're loading the taxon data from the Rails API, e.g. http://www.inaturalist.org/taxa/54757-Xanthor

[2016-03-25 14:39] WildWeazel opened #150 "License?"
This repo doesn't seem to have a license anymore. Is it still MIT?

[2016-03-25 17:13] loarie commented on #150
It is - hmm wonder if the MIT-LICENSE got dropped or if it just never had one added. Will try to get one up shortly

[2016-03-27 23:28] kueda opened #151 "can't make observations without Internet"
As of build 103 you cannot make observations without an Internet connection. The app seems to crash while receiving coordinates or while reverse geocoding them. To replicate, just make a new observation while in airplane mode.

I'm pretty sure [this](https://fabric.io/inaturalist/android/apps/org.inaturalist.android/issues/56f195b2ffcdc042500e0e6b) is it:

[code]

[2016-03-27 23:41] #151 closed

[2016-03-28 13:12] #126 closed

[2016-03-28 13:13] #129 closed

[2016-03-28 13:13] budowski commented on #149
Fixed in build 104

[2016-03-28 13:13] #149 closed

[2016-03-28 23:42] kueda opened #152 "importing photos isn't resetting the place_guess"
To recreate

1. Make a new observation with no photo, allow the coordinates and place guess to be set
1. Import a photo with coordinates in the metadata
1. Choose to import metadata
1. The coordinates should change but the place guess remains the same

Probably related to my recent place guess changes.

[2016-03-29 02:18] #152 closed

[2016-03-31 14:57] budowski commented on #112
Uploaded initial implementation to beta (build 105) - some notes:
* @joellebel - UI is not up with the UI specs yet (will be done in next round). This includes the custom tabs as well.
* Project news not yet implemented.
* @kueda - Currently, in the project page -> observations tab: If we want to click on one of the observations and get to its observation viewer page, we have to call an additional

[2016-03-31 16:56] joellebel commented on #112
Great! Will start testing today!

[2016-04-01 16:25] budowski commented on #112
Added news section (build 106)

[2016-04-05 01:14] kueda opened #153 "crash on ObservationViewerActivity"
When viewing any of your own observations. Here's the relevant log output:

[code]

Looks like `_id` is not getting set on the observation, but I can't quite tell why.

[2016-04-05 09:01] #153 closed

[2016-04-06 17:34] kueda opened #154 "taxon flickering on obs detail"
On any obs detail page, the taxon flickers, as if it is constantly reloading it from the server.

[2016-04-07 12:09] #154 closed

[2016-04-10 11:23] budowski commented on #112
Updated UI according to specs + other related fixes (build 108) - some notes:
1. @joellebel - when the project icon contains too much white - since it's used to the top background for the project details screen, that means that the about/news/join/back buttons will be barely visible. What should we do here?
2. @kueda - still need your feedback on the issues mentioned a few comments ago

[2016-04-11 07:20] budowski commented on #143
Fixed in build 109 - @joellebel, your feedback?

[2016-04-11 20:28] joellebel commented on #112
@budowski Thanks for bringing that up. iOS darkens the blur by about 30%. Can we do that on Android or add a layer of black at 30%?

[2016-04-11 20:28] joellebel commented on #143
@budowski ok! Will look!

[2016-04-11 22:00] joellebel opened #155 "URL Text Not Showing Up as Link"
Is it possible to make URLs in modals links? See below example... (I currently, can't select the text, copy and paste it into a browser either)

![image](https://cloud.githubusercontent.com/assets/11527994/14443763/16b9314e-fff6-11e5-94d6-e8bd83cc993d.png)

[2016-04-11 22:06] joellebel commented on #143
@budowski This is looking great. One thing I noticed on the Activity tab...

![image](https://cloud.githubusercontent.com/assets/11527994/14443824/845cd822-fff6-11e5-9c63-2fc74a4bac4c.png)

There's like an extra gray border beneath the tabs. Can we get rid of that?

[2016-04-11 22:07] joellebel commented on #143
@budowski Also can we add about 5pts. of space above the tab icons? Tnx!

[2016-04-12 12:22] budowski commented on #112
@joellebel - yeah, we can add a layer on top of it :-)

[2016-04-12 17:38] kueda opened #156 "obs detail comments / IDs flickering or for wrong obs"
In build 109, identifications and comments flicker or display incorrectly after you've added an ID. To replicate

1. View Explore section, view an observation from grid view
1. Add a new ID
1. View another observation and tap on the comments and IDs tab: the comments and IDs will be from the last observation, and/or it will take 10+ seconds to load the right ones, or they'll flicker between the tw

[2016-04-18 04:16] #155 closed

[2016-04-18 04:16] #156 closed

[2016-04-18 04:16] budowski commented on #112
Fixed in build 110

[2016-04-18 04:16] budowski commented on #143
Fixed in build 110

[2016-04-18 04:16] budowski commented on #113
Added initial implementation in build 110

[2016-04-18 21:21] joellebel commented on #113
@budowski This is looking great! Will thumbnail images be added to the list view later? Seems like that's all it needs.

Also, would you be able to tell me what the line-height is on the article body text? Tnx.

[2016-04-18 21:22] joellebel commented on #143
Looks great! Tnx.

[2016-04-18 21:22] #143 closed

[2016-04-18 21:59] joellebel commented on #112
Lookin' good!

Project list view is looking good too, but can we remove the border around the thumbnails, info icons and ability to tap on the project icon to read the info blurb? Tnx!

[2016-04-18 23:45] joellebel commented on #112
@budowski Just wondering about the tab and scrolling situation with the project screen. Right now the header does not scroll up leaving for a small viewing area. Also, the tabs do not side scroll making for tiny tabs. Are these items yet to come or should we be testing for them?

[2016-04-19 10:36] budowski commented on #113
@joellebel - what images should we use, though? Because basically the article's body is raw HTML, and can contain zero or multiple image tags. Should we just choose the first image tag we find (if any)?
Line height - since it's pure HTML, we use a web view component to render the article HTML. So basically, we can add in CSS to have it with any line height we want.

[2016-04-19 11:02] budowski commented on #112
@joellebel - Removed border/info icon in the latest commit.
Regarding scrolling effects - it's a little more complicated if we want to support pre-5.0 Android (need to use compatibility libraries, etc. since it's not supported inherently). It's feasible, just requires some more time (so we need to prioritize it).

[2016-04-19 12:52] budowski commented on #139
Uploaded initial version - build 111.
@joellebel - note that the status bar color is a bit problematic to implement at the moment if we want to support pre-5.0 devices.

[2016-04-19 22:41] kueda opened #157 "editing observations does not trigger upload"
I've tried editing the description, date, and location, and none of them trigger an upload when auto-upload is on, or show the "Upload" bar when it's off. Updating the *taxon* does trigger these changes.

I think this may also be in production, so fixing this is a high priority.

[2016-04-20 20:11] joellebel commented on #113
@budowski Yes, let's take the first image of the article.

Ok. Can I see what a line-height of 24pts  looks like? Tnx!

[2016-04-20 20:26] joellebel commented on #139
This is a great improvement. Please see the below screenshot of what I'm seeing. Design is on the left and implementation is on the right...

![image](https://cloud.githubusercontent.com/assets/11527994/14689080/95aa20c0-06fa-11e6-9ea3-c2074984fdeb.png)

When you have a moment, could you verify the specs against what is implemented for tab font active/inactive state colors, tab drop shadows. tnx!

[2016-04-21 00:23] joellebel commented on #112
@budowski Can you give us an estimate on how long it would take to support pre-5.0 Android?

[2016-04-25 13:14] budowski commented on #157
(Sorry for the late response)
@kueda - I've tried recreating this issue, but to no avail: Changed location/description/date/taxon one at a time, and each of those separate edits caused an immediate sync. Also tried it on obs created on the app and obs downloaded to the app.
Maybe you could send me logs and we could try and debug this?

[2016-04-25 13:41] budowski commented on #112
@joellebel - I estimate it at about a few days of work

[2016-04-25 14:19] budowski commented on #113
@joellebel - Added per-post photo (inside the list) + 24pt line-height in build 113.

[2016-04-25 15:11] budowski commented on #139
@joellebel - updated in build 113. Note that drop shadow is problematic pre Android 5.0 as well...

[2016-04-26 19:07] kueda commented on #157
Well, now I can't replicate it either. I wonder if there's some intermittent bug with dates getting set in the future. If I notice it again I'll try and get more log info.

[2016-04-26 19:07] #157 closed

[2016-04-26 19:09] kueda opened #158 "show and edit private coordinates"
Currently if you have an observation with obscured coordinates, it shows *you* the obscured coordinates instead of the true coordinates. When you try to edit the location, you end up editing the obscured coordinates and not the true coordinates, which will probably result in the completely wrong coordinates getting submitted to the site.

To replicate, just make an observation with geoprivacy set

[2016-04-26 20:04] joellebel commented on #113
Thanks! Can we make it 22pt and then I think we're good.

Also, can you make the photo in the article list view a square like it is on iOS? It's fine if parts of it need cropping to make it square. If this is super time consuming let us know and we can put it off to the future. Tnx!

[2016-04-26 20:56] joellebel opened #159 "Autosync modal still showing for new users"
When I download the app (not from my special inat account), but as a new user, I get the below auto-sync modal.

![screenshot_20160426-131037](https://cloud.githubusercontent.com/assets/11527994/14832762/b4dd01c8-0bb0-11e6-9402-d4d0ab24d541.png)

Autosync should be on by default and no modal present.

[2016-04-26 21:18] joellebel commented on #139
Thanks, @budowski. Weird though. I'm not seeing the dropshow under the tabs... are you? See below screenshot...

![image](https://cloud.githubusercontent.com/assets/11527994/14834521/b80c1f10-0bb9-11e6-8584-bf800ed85a1d.png)

[2016-04-27 11:07] budowski commented on #139
@joellebel - Yes, the drop shadow is not supported pre-5.0. Do we want to add it anyhow?
Anyhow, like we said in the weekly chat - I think we should do a big Github issue that encapsulates all of the design-related fixes we want to make that might be pre-5.0 problematic (and implement it as a whole). On the way, we might find ways of supporting it pre-5.0 (using backward-compatible libraries). Wha

[2016-04-27 11:14] budowski commented on #113
Implemented in build 114

[2016-04-27 12:04] #158 closed

[2016-04-27 12:04] #159 closed

[2016-04-27 19:39] joellebel commented on #113
Great. Will check it out!

[2016-04-27 20:25] joellebel commented on #139
I'm on Android 6.0.1.

[2016-04-27 20:27] joellebel commented on #139
I should have mentioned that earlier ;)

[2016-05-02 15:23] joellebel opened #160 "Project Screen Animation"
This issue is in regards to making the project screen animations the same as iOS. Please see a project screen iOS app for an example.
- Stats tabs are bigger and scroll sideways. As such...
  ![image](https://cloud.githubusercontent.com/assets/11527994/14957839/5ceac348-103c-11e6-8163-08895707ab25.png)
- Header scrolls off screen leaving the project title in the toolbar

![image](https://cloud.git

[2016-05-02 21:06] kueda commented on #160
IMO, given the fact that without the animation the project pages are pretty unusable on small screens, I say go ahead and give it a shot.

[2016-05-09 22:10] kueda commented on #112
Sorry for the unbelievalbly late replies:

Making an additional API call sounds fine. Don't we already do that every time we show the obs detail page?

I don't believe there is a way to do that currently, so my preference would be leave out the current user's place in those stats for the first release. @pleary, do you have an opinion on how we might support that through the API? This would be a re

[2016-05-11 22:37] joellebel opened #161 "User Profile Screen"
# Overview

This is the user profile screen (not to be confused with looking at your own profile or "Me" section. There will be a separate issue for that.) This screen can be reached by tapping on a user's name anywhere within the app.

![image](https://cloud.githubusercontent.com/assets/11527994/15200239/d0eafd44-1799-11e6-8630-6627dd7e6123.png)

# Header

![image](https://cloud.githubusercontent

[2016-05-11 22:37] joellebel commented on #161
...still working on this. Will let you know when it's ready!

[2016-05-12 00:31] joellebel commented on #161
Ok. This issue is all ready to go. Please let me know if you have any questions. The Sketch file is located here: https://www.dropbox.com/s/ep7u1doe8id8qjm/User_Profile_v01_r01.sketch?dl=0

[2016-05-16 07:09] budowski commented on #160
Uploaded a version that include the animation effect (beta build 116). Needed to move away from ActionBarSherlock to the new AppCompat library in order to support that (lost of code refactoring).

[2016-05-16 15:55] joellebel commented on #160
@budowski is there any way I can help with testing without having a pre-5.0 device?

[2016-05-19 03:41] budowski commented on #160
I tested it out on a pre-5.0 emulator, because it's hard to come by with real devices that have a pre-5.0 version.

[2016-05-19 04:32] loarie commented on #160
The $30 Blu phone I bought is pre 5.0 but still won't install iNat :(

[2016-05-19 05:04] budowski commented on #160
Even if I send you it as an attachment by email?

[2016-05-19 05:07] loarie commented on #160
yeah - never got it to load

[2016-05-24 18:36] #80 closed

[2016-05-24 18:37] #85 closed

[2016-05-24 18:38] kueda opened #162 "resize photos on save, not upload"
Currently we resize images during the upload process, but this slows down the upload process (which is already slow). Instead, let's try to resize when the observation is saved. This should happen in a background process, not something that blocks the UI.

[2016-05-24 18:40] kueda opened #163 "try to avoid adding duplicate observations on explore"
I occasionally see duplicate observations when paging through results on Explore, and I don't think it's related to new observations being added on the website and pushing results down. @budowski suggested adding a check in the app to make sure it never shows the same observation twice.

[2016-05-25 22:32] loarie opened #164 "Replace 'Import metadata' modal with automatically using photo metadata (with 2 caveats)"
Currently there are 2 bugs in how the Import metadata modal is working*

But rather than fix them, I propose we replace the Import metadata modal with behavior mostly working on iOS as follows:

A. On Add obs -> Choose Image -> select a photo
Don't display the Import metadata modal. Rather Always use the photo metadata, even when its null

B. On Add obs -> Skip Photo -> Add Image from Details -> C

[2016-05-25 22:36] loarie opened #165 "'Edit Observation: Are you sure you want to discard unsaved changes: yes/no' modal closing prematurely"
The back button on the obs detail edit screen momentarily flashes the 'Edit Observation: Are you sure you want to discard unsaved changes: yes/no' modal. However, the modal closes and the form is left automatically even if you don't choose yes/no. It appears the behavior is as if you chose 'Yes'
Solution: wait until user chooses yes/no before exiting form

[2016-05-26 17:59] joellebel opened #166 "Ob Edit Screen Changes"
# Punch List

- [x] Remove cursor from ob Edit Screen
- [x] Please make the "completed state" text dark for the date, time, geoprivacy, captive/cultivated and projects. Currently, they are using the hint text color. See below mock up for desired look.
- [x] Please change text for empty states to match below mock up
- [x] Please change "Enter taxon name" hint text to "Species name" on the search sc

[2016-05-26 19:30] joellebel opened #167 "Projects Observations Thumbnails"
The observations thumbnails are very low rez. Can we display a better version? See below screenshot.

## Android
![image](https://cloud.githubusercontent.com/assets/11527994/15587184/f2e4b116-233c-11e6-90ed-a27f89484cb1.png)

## iOS for Comparison

![image](https://cloud.githubusercontent.com/assets/11527994/15587346/a0979184-233d-11e6-9444-8daee7e3cfe3.png)

[2016-05-26 19:34] joellebel opened #168 "Explore Map Screen Not Showing Enough Observations"
Currently, the Explore map screen is not showing as many observations as on iOS.

[2016-05-26 20:26] joellebel opened #169 "Project Tabs Side Scrolling"
# Tabs

- [x] 4th tab needs to be always halfway off the screen to indicate side scrolling is possible (same as iOS)
- [x] Side scrolling needs to be implemented (same as iOS)

See below specs in from the "Projects_v01_d01_r02" file...

![image](https://cloud.githubusercontent.com/assets/11527994/15588794/6e6ff320-2344-11e6-854a-0d8ad7933166.png)

- [x] Could you also check to make sure the little

[2016-05-26 21:59] joellebel opened #170 "Tabs Drop Shadow Missing"
The drop shadow under the tabs and nav bar are missing in these spots:

![image](https://cloud.githubusercontent.com/assets/11527994/15591374/a16a7086-2351-11e6-808d-d2a4dbc54bba.png)

![image](https://cloud.githubusercontent.com/assets/11527994/15591378/aa32240c-2351-11e6-8484-096e3b985bda.png)

![image](https://cloud.githubusercontent.com/assets/11527994/15591384/b48bf5f4-2351-11e6-94b8-c8b070b1

[2016-05-29 21:57] budowski commented on #161
@joellebel - Uploaded a beta version that includes the new user screen. Some notes:
1. Only at the moment - The profile screen is available when clicking from the observation viewer screen (the owner of the observation), and not other places.
2. When no full name is available - the user name appears instead (and not on top) - this is mainly because of the title bar animation that occurs when you s

[2016-05-29 21:57] #164 closed

[2016-05-29 21:57] #165 closed

[2016-06-02 20:46] joellebel commented on #161
ok. will look!

[2016-06-02 21:18] kueda opened #171 "bring back project search"
We seem to have lost project search in a recent build, and it seems like the bug is in production. For me, the projects I've joined don't seem to load at all, even when I sign in as a user with few projects.

- [ ] write a test to make sure joined projects load and make sure it passes
- [ ] write a test to make sure the search bar appears in the projects section and make sure it passes

[2016-06-02 21:32] joellebel commented on #171
@budowski I'll put together a design...

[2016-06-02 21:45] kueda commented on #171
A design would be great, but just restoring the old search bar would suffice, if only as a stopgap. Right now people cannot join new projects, or even see the projects they've joined, so we should get a fix out ASAP.

[2016-06-02 22:10] joellebel commented on #171
@budowski Can you let us know how time consuming each option is?

# Option 1

Putting back the old search which searched all projects regardless of what tab you're on (All, Joined, Nearby)

# Option 2: Scoped Search Toggle

Putting search button in upper right which when tapped toggles the search to slide down from under the tabs. It would only search the items listed in the active tab. See below

[2016-06-02 22:45] budowski commented on #171
@joellebel - the quickest solution is bringing back the old search bar. But option 2/3 are also viable (just a little more work). What is your preference?
@kueda - I can't recreate this issue - does it happen on other phones? I also tried a fresh install from the Play store, and looked fine... Maybe it's a specific issue with your user? If so, I can look into this from that angle.

[2016-06-02 22:49] kueda commented on #171
You're referring to the JOINED projects not loading, right? I'm using my Nexus 5X , iNat build 122 from the Play Store, and JOINED projects don't load for a user with a lot of projects (kueda) or a user with few projects (inara). Joelle was able to replicate on an older Nexus (5?).

[2016-06-02 22:50] budowski commented on #171
Yes - I tried it on my user (with 8 joined projects), on the joined tab. And also from the Edit obs -> Projects screen.
Are you seeing any error in the logs?

[2016-06-02 23:01] joellebel commented on #161
So awesome to see this screen come alive!

A few minor things...

* I noticed the user pic is really pixellated on both the ob detail and the user profile scren
* The bio blurb should be center aligned like so... (Sorry. That was hard to tell from my mock ups.)

![image](https://cloud.githubusercontent.com/assets/11527994/15763755/e15dfb70-28da-11e6-8d87-6244a646c1ef.png)

* Really digging the ani

[2016-06-02 23:05] budowski commented on #161
@joellebel - Yeah, I'll need that ID icon - couldn't find it on the google.com/icons page :-(

[2016-06-02 23:08] kueda commented on #171
Here's some tasty log output:

[code]

[2016-06-02 23:21] budowski commented on #171
OK, found the issue - when it comes to a lot of projects (when the result JSON is very large), memory-wise, there's an Android with passing so much data using intents. So we'll pass it through the global Application object instead (we've done it in the past for other types of results, but never for projects).

Uploading a new version now.

[2016-06-02 23:26] budowski commented on #171
Regarding tests - we need a "heavyweight" user with many observations, joined projects, etc. in order to discover these kinds of bugs

[2016-06-02 23:31] kueda commented on #171
Or we need a mocks. Maybe https://github.com/square/okhttp/tree/master/mockwebserver?

[2016-06-02 23:33] budowski commented on #171
@kueda - looks like a good option. We can then artificially return thousands of observations/projects/etc.
Could you add this as a new Github issue? I'll integrate this it as part of the testing framework

[2016-06-02 23:54] joellebel commented on #161
@budowski It's a custom job ;)

[2016-06-03 15:32] kueda opened #172 "starting a new obs while autoupload is running cancels the upload"
Or it does partially. To replicate, put the app in auto-upload mode, make a new observation, and while it is uploading, start a new observation and save it. It seems like the first upload stops and thinks it was successful even if it wasn't, which results in the first observation not having a photo on the website.

[2016-06-03 15:46] kueda opened #173 "can't import photos from local storage?"
Attempted to import a photo from Internal Storage / Pictures and I got this. Pretty sure the photo is, in fact, on the phone.

![screenshot_20160603-113420_1024](https://cloud.githubusercontent.com/assets/22691/15784489/b9030304-2980-11e6-91bd-78badcadefb8.png)

[2016-06-03 15:46] budowski commented on #168
Not really a bug - basically, the initial zoom level for the map was not large enough, so observations that are near each other overlap, and it looks like there aren't enough observations.
I've updated the initial zoom level to a bigger one.

[2016-06-03 15:46] #168 closed

[2016-06-03 15:55] budowski commented on #173
Could you please tell me what you see in the logs? The URI for that photo should show up there (that will really help out in pin-pointing the issue)

[2016-06-03 16:30] kueda commented on #173
Will try to remember to do so. I usually file these as soon as I experience
them, which usually isn't when I've got a laptop and a USB cable handy.
On Jun 3, 2016 11:56 AM, "budowski" <notifications@github.com> wrote:

[2016-06-03 23:44] loarie opened #174 "Projects details -> observations tab should display common name when available (as in explore grid view)"
Currently it always shows the scientific name

[2016-06-03 23:52] loarie opened #175 "taxon names not localized in several pages"
1. Projects -> Species Tab: I set my phone language settings to Spanish and the species list still displays english common names - this should display spanish common names

2. Taxon pages: Likewise if I tap through to the Taxon pages from the Projects -> Species tab or elsewhere they show English Wikipedia and Taxon names

3. Observation Details: Likewise if I tap through to an Observation Details

[2016-06-03 23:55] loarie opened #176 "Me tab shows species_guess, should show taxon name"
The me tab displays species_guess which is causing some issues. It should show the taxon name associated with the observation.

The explore tab is showing the taxon name associated with an observation (rather than species_guess) so making it work this way would be great

[2016-06-04 00:09] loarie commented on #176
note that it will show species_guess if there's no taxon associated with the obs, but otherwise will show the localized common name and if not the sci name (as in grid view of explore)

[2016-06-04 00:14] joellebel commented on #176
When species_guess is used a great way to indicate that it's not a taxon would be to put it in quotes.

Here's a mock up...
![image](https://cloud.githubusercontent.com/assets/11527994/15796188/a4a09600-29ae-11e6-96e6-7d0a69463ff4.png)

Thoughts?

[2016-06-06 04:16] budowski commented on #169
Fixed in build 124

[2016-06-06 05:01] budowski commented on #166
Updated in build 124.
Regarding species name animation - will look into this and implement

[2016-06-06 05:03] budowski opened #177 "Write tests for projects screen"
Write a test to make sure joined projects load and make sure it passes
Maybe use https://github.com/square/okhttp/tree/master/mockwebserver to mock large amount of project resutls?

[2016-06-06 22:32] kueda commented on #173
K, here's some log data:

[code]

[2016-06-06 23:03] budowski commented on #173
@kueda - Thanks, I see the issue now. I'll see how we can fix this

[2016-06-07 05:09] kueda opened #178 "map broken in explore"
Map area is just gray, though the Google logo appears. I'm guessing this is just a key issue?

[2016-06-07 12:24] budowski commented on #178
Fixed - I'll add a new issue to create a build step that verifies the key as a release key when creating a store-signed APK

[2016-06-07 12:24] #178 closed

[2016-06-07 12:25] budowski opened #179 "Add a build step to detect debug/release key for Google Maps"
Create a build step that verifies the Google Maps key as a release key when creating a store-signed APK

[2016-06-09 22:29] budowski commented on #176
There's a bit of an issue with implementing this one - because these observations are locally generated, we don't have the full-fledged JSON object for each (which includes the taxon object with its names).
So we have two options:
1. Temporarily show the species guess (with quotes), while loading the taxon details in the background (if the obs has a taxon id -> call /taxa/1234.json to get the list

[2016-06-09 23:49] #174 closed

[2016-06-09 23:49] #175 closed

[2016-06-09 23:49] budowski commented on #161
Other than the ID pic, fixed all issues in beta build 127

[2016-06-10 17:09] loarie commented on #176
The iOS app also doesn't do this yet, but its on the list. Do you have a strategy @alexshepard?

I don't think we need to worry too much here about keeping things up to date or locally generated obs. The main issue is when obs or updates to local obs are coming from the server. Does focusing on update s from the server make this any easier?

[2016-06-10 17:22] loarie commented on #175
This all looks fixed to me in #127

[2016-06-10 17:26] loarie commented on #174
looks fixed to me in 127

[2016-06-10 19:02] joellebel commented on #161
@budowski for some reason I can't get build 127, but @kueda and @loarie can. I think I have bad technological karma. I guess I'll just keep waiting, but let me know if you have any recommendations. ;)

[2016-06-10 19:20] kueda opened #180 "add instructions for running tests to the README"
Yes, I have already forgotten. If you need to run `ObservationManagementTest`, I'm getting this error:

[code]

[2016-06-13 16:29] joellebel commented on #161
@budowski finally got build 127. phew!

[2016-06-13 17:23] joellebel commented on #171
We're gonna go with option 3

[2016-06-13 17:43] loarie commented on #176
@budowski - thanks for discussing this in the weekly meeting today - are your options 1 or 2 above still how you'd recommend dealing with this - or have you thought of any easier options that still cache the proper taxon name offline, but don't worry about edge cases where people switch languages without logging out?

[2016-06-13 17:53] budowski commented on #176
As we've discussed - we'll implement this by caching (i.e. saving in local DB) the preferred_common_name (which will appear in the appropriate locale) and using it in the observation list.
We'll update that field in the following cases:
1. When the user selects a taxon from the taxon chooser.
2. When the observations are synced (list is pulled down).

[2016-06-13 20:26] kueda opened #181 "app signs you in with your google account automatically"
To replicate, make an iNat account that's associated with a Google Account on your phone, and make another that isn't. Sign in as the Google-associated account, then sign out and try to sign in as the non-Google account. The settings screen will show you as signed in as the non-Google account, but once you leave that activity you'll be signed in with the Google-account.

This *might* be happening

[2016-06-13 21:17] joellebel commented on #181
This happened to me too.

[2016-06-14 00:09] budowski commented on #181
Strange - I'll look into this and fix. Might be an issue that we're not clearing everything completely when signing out from the Google login

[2016-06-14 00:13] kueda commented on #181
Here's some log data from right after you tap the "Log in" button:

[code]

Also, I know we didn't discuss this at kickoff, but https://github.com/inaturalist/iNaturalistAndroid/issues/135 really needs to be done ASAP, so please add that to the list of this week. I suspect it might be related to this.

[2016-06-14 00:29] budowski commented on #181
OK, will do

[2016-06-14 00:30] budowski commented on #135
Regarding removing basic HTTP auth - so what method should we use for password-based authentication?

[2016-06-14 00:32] kueda commented on #135
http://www.inaturalist.org/pages/api+reference#resource_owner_password_credentials_flow

[2016-06-15 00:52] kueda commented on #173
I'm not sure if this is related but we've had a report of a user using a Galaxy S5 (Android 5) who seems to get this weird mail icon when importing a photo from somewhere called "Device Folders":

![screenshot_2016-06-13-19-09-00](https://cloud.githubusercontent.com/assets/22691/16064718/8d376518-3258-11e6-96dd-8bb06fe93e53.png)

[2016-06-15 02:52] budowski commented on #173
Weird, I'll look into this too (probably a separate issue)

[2016-06-15 15:40] kueda commented on #150
Fixed in 07a22ba3267b607d8de632c909ba1c7d033ac348

[2016-06-15 15:40] #150 closed

[2016-06-15 21:36] joellebel commented on #161
@budowski the ID icon is ready for you and is here: https://www.dropbox.com/sh/awon23a05s24fxz/AAAe13Uf5XbMgjRCZE5cJj95a?dl=0

Just a note that the icon only has to be 11pt high. So let me know if you need an even smaller icon. I think these should downsize ok though.

[2016-06-15 22:55] joellebel commented on #161
@budowski Found some styling issues with the user profile Observations and Species tabs. Here's screenshots of the tabs for reference...

![image](https://cloud.githubusercontent.com/assets/11527994/16100181/88bc609c-3311-11e6-97d4-61dadfde5ceb.png)

Here's the specs for reference...

![image](https://cloud.githubusercontent.com/assets/11527994/16100099/e317809a-3310-11e6-82fa-d2168e47422d.png)

#

[2016-06-16 23:40] joellebel opened #182 "Edit Profile Design"
Just creating an issue for the Me screen since it appears all the design is done. It essentially is the same as the user profile screen.

[2016-06-16 23:51] joellebel commented on #182
We can launch the ability to edit profile bio, pic and personal name in another release. I will work on the design for that.

[2016-06-16 23:54] joellebel opened #183 "Observation Detail Screen Data Quality Not Working"
Right now all observations are being labelled Research Grade even if they are not and the Data Quality graphic looks like this...

![image](https://cloud.githubusercontent.com/assets/11527994/16136823/db6f5444-33e2-11e6-915f-b9be0fc79351.png)

[2016-06-17 00:17] joellebel commented on #182
Here's an idea for Phase 2 editing profile functionality...

* Edit button in upper right

![image](https://cloud.githubusercontent.com/assets/11527994/16137144/6a6c98da-33e5-11e6-90fd-a3ca717b51ad.png)

### Edit Screen

![image](https://cloud.githubusercontent.com/assets/11527994/16137177/ae16f558-33e5-11e6-9745-80f52b3d20d0.png)

Note: We could theoretically put these options in the Settings men

[2016-06-17 00:37] kueda opened #184 "warning when saving an observation without a location"
Show a modal warning when saving a new observation that has no coordinates. Something along the lines of the warning you show when you try to leave a new observation without saving. The text could read "Are you sure you want to save an observation without coordinates?"

Another nice-to-have would be some indication of whether the location is loading or not. My preference would be to replace the ma

[2016-06-20 14:56] #163 closed

[2016-06-20 14:56] #181 closed

[2016-06-20 19:37] kueda commented on #122
Not working for me. I'm seeing this in the log:

[code]

[2016-06-20 19:39] budowski commented on #122
I'll add in some more logs to see what is causing this so you can send those to me

[2016-06-22 22:51] kueda opened #185 "project observations and project observation fields don't post with auto-sync"
To replicate

1. Make sure auto-upload is on
1. Start a new observation in the app and add it to a project that has observation fields, like http://www.inaturalist.org/projects/test-project-of-unfathomable-awesomeness
1. Fill in some of the fields and save the observation
1. Allow the observation to upload and check it out on the website

When I do this the observation appears to be in the project

[2016-06-22 22:53] kueda opened #186 "projects should not re-download on device rotation"
That's what it seems to be doing now on the projects screen (any tab), which seems a bit nuts. Am I wrong? Is it just taking a long time to reload the records that are already in the app?

[2016-06-23 20:19] kueda commented on #172
Pretty sure this just happened to me with http://www.inaturalist.org/observations/3509097, build 128. Here's what the obs screen looks like:

![screenshot_20160623-131625](https://cloud.githubusercontent.com/assets/22691/16318650/eff8acfa-3944-11e6-9466-6700cba0d8b3.png)

Obs list shows everything as uploaded. Steps to replicate are basically the same: make an obs with a photo in auto-upload mode,

[2016-06-26 19:28] budowski commented on #167
This will require API changes - currently, we're using this endpoint: http://api.inaturalist.org/v1/observations?project_id=411

However, it returns only one low-resolution image URL (instead of several URLs of different sizes to choose from). @kueda ?

[2016-06-26 20:43] kueda commented on #167
The way we handle this else where is to parse the photo URL. When you get a url like http://static.inaturalist.org/photos/4109822/square.JPG?1466970884, you can assume that http://static.inaturalist.org/photos/4109822/medium.JPG and http://static.inaturalist.org/photos/4109822/large.JPG also exist, so basically just replace `square` with another size.

[2016-06-26 23:41] budowski commented on #167
OK, got it - thanks :-)

[2016-06-26 23:59] #167 closed

[2016-06-26 23:59] #173 closed

[2016-06-26 23:59] #183 closed

[2016-06-26 23:59] #184 closed

[2016-06-27 17:14] #162 closed

[2016-07-03 03:47] kueda opened #187 "coordinates not getting imported from existing photos"
Possibly related to the recent changes in how we handle photos. Somewhat urgent. Let me know if you need example photos, but for me it seems to happen with any photo taken with the Google Camera app that has coordinates.

[2016-07-03 06:09] budowski commented on #187
Odd - I'll look into this and fix as soon as possible

[2016-07-04 22:09] #135 closed

[2016-07-04 22:09] #137 closed

[2016-07-04 22:09] #186 closed

[2016-07-04 22:10] budowski commented on #185
Couldn't recreate this in the latest build - @kueda ? (build 133)

[2016-07-04 22:10] budowski commented on #161
Fixed in latest build (133)

[2016-07-04 22:11] budowski commented on #187
Fixed in latest build (133)

[2016-07-06 19:43] joellebel commented on #122
Just a note that this feature only works for me about eery 2nd or 3rd time I swipe. I'm on Nexus 5 Android 6.0.1. I'm about to upgrade my OS now. Just wondering if this is happening for anyone else?

[2016-07-06 20:44] joellebel commented on #161
This is looking great. One small thing... The spacing between the thumbnail and the text is 18pt. but should be 11pt. See below screenshot...

## Current...

![image](https://cloud.githubusercontent.com/assets/11527994/16633745/49da5fd4-4390-11e6-8802-439900bdfa9e.png)

## Proposed...

![image](https://cloud.githubusercontent.com/assets/11527994/16633806/8bda4f3e-4390-11e6-9e3a-87db9b783601.png)

[2016-07-07 00:13] budowski commented on #122
@joellebel - odd! Could you tell me which controls are you trying to swipe over that causing the most issues? (e.g. the location label)
Does it get better if you do a longer swipe to the right/left?

[2016-07-07 15:31] joellebel commented on #166
This is all looking great. Just wondering about the species name animation. Thanks!

[2016-07-07 23:33] kueda commented on #187
Not sure this is related, but I suspect it is: now the coordinates are getting added, but you still get the "Are you sure you want to save the observation without any coordinates?" alert. This also happens after you say yes, edit the observation, and try to save again. See https://groups.google.com/d/topic/inaturalist/ZbKFthEEpuk/discussion

[2016-07-08 01:28] budowski commented on #187
Fixed in build 134

[2016-07-08 01:28] #187 closed

[2016-07-08 15:22] joellebel commented on #122
* It doesn't appear to work over Help me identify...
* It works sometimes on Notes and the Date
* Seems to be working in all other places. Maybe I'm swiping too fast? I notice once I swipe I have to wait about 3 seconds before I can swipe again. So maybe I just need more patience? ;)

It gets better with a longer swipe.

[2016-07-10 19:30] kueda opened #188 "edits to observation not visible on save"
1. Make a new, blank observation and save (no need to upload)
1. Edit the observation, add a taxon, change the location, and save
1. You land on the obs detail page, but none of your changes are visible. Changes are visible on obs list.

See https://groups.google.com/d/msg/inaturalist/ZbKFthEEpuk/GQkyr6x2AAAJ

[2016-07-11 04:43] #171 closed

[2016-07-11 17:54] kueda opened #189 "user profile shows Identifications spinner forever if the user has no identifications"
E.g. the user carrierobertsonmeyer. The API seems to respond appropriately with an empty array, but if you'd prefer something else let me know.

[2016-07-11 17:59] kueda opened #190 "duplicate photos, only in the app"
As of the last few releases, sometimes a photo will appear twice on the obs detail and edit pages, even if there's really only one photo. This seems to happen with observations recorded in the app as well as obs that were downloaded from the website.  I haven't figured out how to replicate this yet (just recording a new obs doesn't seem to do it), but it's definitely happening: https://groups.goog

[2016-07-11 18:38] kueda commented on #185
As far as I can tell this is still happening in build 134, following the steps above and filling out the "Dive date and time" field. I invited you to join The Test Project of Unfathomable Awesomeness if you want to test using that.

[2016-07-11 18:45] kueda opened #191 "project fields issues"
Hitting two problems attempting to add observations to http://www.inaturalist.org/projects/test-project-of-unfathomable-awesomeness

1. **Not all the fields are downloading.** http://www.inaturalist.org/projects/test-project-of-unfathomable-awesomeness.json shows that the project has the "Habitat" field, but it does not appear as an option for me when I try to add an obs to that project in the app

[2016-07-12 00:02] loarie opened #192 "Add Naturalista Colombia (site 6) to Android app"
here's the JSON http://www.inaturalist.org/sites/6.json
that includes Colombia SIM card popup ('use naturalista') and option in the settings tab

ideal deadline is available by July 29th (see https://github.com/inaturalist/inaturalist/issues/1052)

[2016-07-12 21:07] kueda opened #193 "still getting no coordinates warning when saving a private obs with coordinates"
To replicate

1. Make a new observation, make sure it has coordinates, and set the geoprivacy to private
1. Upload to the website
1. Edit the observation and save. You get the "Are you sure" warning even though the observation has coordinates (verify on the website)

I suspect what's happening is that that warning is just checking the latitude and longitude when it should be checking something lik

[2016-07-12 21:13] kueda commented on #190
K, I think this only happens when you download observations, e.g. make a new observation with a photo, upload it, pull down to refresh, and *then* it appears with a duplicate photo.

[2016-07-13 18:42] joellebel opened #194 "Location Services Off Notification"
In the Projects > Nearby tab if Location for the app is turned off there is no notification to the user this is happening. Can we do something like what we've done in the iOS? See below...
![image](https://cloud.githubusercontent.com/assets/11527994/16815457/c328d362-48ee-11e6-8b97-bc3cc4d231e6.png)

...or if easier the standard pop up message modal is fine too.

[2016-07-13 19:14] joellebel opened #195 "Photo Jump in Observation Detail Screen"
For obs with multiple photos, when I swipe to see the next photo the carousel jumps back to the first photo. Perhaps, is the ob not entirely downloaded? Do I need to wait longer before swiping?

[2016-07-13 21:31] budowski opened #196 "Observation viewer - use quality_grade instead of calculating yourself (if obs is synced)"

[2016-07-13 22:14] budowski commented on #161
Fixed in latest build (136) - note that it's harder to do exact pt dimensions, since in Android it's all dp/sp (and trying to convert using online tools such as [this](http://angrytools.com/android/pixelcalc/) don't really produce the same results

[2016-07-13 23:04] budowski commented on #166
@joellebel - Added in build 136

[2016-07-13 23:06] #188 closed

[2016-07-13 23:06] #190 closed

[2016-07-15 17:15] kueda opened #197 "clear the photo cache"
Since the app is now storing its own copy of images and not depending on the copy on the file system, we need to start clearing out this cache of photos so the app doesn't become a disk hog. Here's how I think this should work, based on how the iOS app works:
- [ ] Photos that haven't been uploaded should never be removed
- [ ] Photos that were uploaded more than 7 days ago should be removed, futu

[2016-07-16 04:23] kueda opened #198 "taxon chooser animation issue"
Build 136.

1. Start a new observation and enter "Plants" in the taxon name field. Taxon chooser will popup and show options
1. Choose "Plants (Plantae)"
1. Tap the end of the taxon field and hold down on the delete key. I see a brief, weirdly tessellated animation before the options show up, and then my delete doesn't complete, i.e. I'm still holding down on delete but the last few chars won't de

[2016-07-17 18:19] budowski commented on #185
Weird, still working for me - for example, tried this observation (with auto sync on) - field values were save correctly ("Dive date and time"):
http://www.inaturalist.org/observations/3693606.json

Also tried with auto-sync off...

[2016-07-17 20:11] #189 closed

[2016-07-17 20:11] #193 closed

[2016-07-17 20:11] #198 closed

[2016-07-17 20:12] budowski commented on #191
1. Weird - it does appear for me (as a free text field)
2. Fixed in build 138
3. Fixed in build 138
4. For me the changes are saved and uploaded - but obs does not appear as "need upload" (fixed that part - build 138).

[2016-07-17 23:29] kueda opened #199 "save a user-accessible copy of all photos"
When a user takes a photo in the app, we keep a copy inside of the app, but we should also write a copy in a place the user can access, just like a camera app would. In the iPhone app we do this by default without any user configuration, so I think that's fine on Android too, for now.

[2016-07-18 18:49] kueda opened #200 "auto-upload while offline constantly shows error toast"
In airplane mode with Auto Upload turned on I get the "Not all photos were synced" error again and again after saving a new observation with a photo. It also seems to slow down the UI, almost to the point of locking it up.

[2016-07-18 18:50] kueda opened #201 "can't really cancel sync when auto-upload is off"
I can tap "Cancel" and the dialog goes away, and it seems like it cancels, but then if I watch the screen for 10 s or so the observations start syncing again.

[2016-07-18 18:55] kueda opened #202 "don't put quotes around a place guess if it matches the taxon"
If you make an observation with a taxon set to *Raphanus* and make sure you actually choose the taxon and save, it will appear as `"Raphanus"` in the observation list, even though the `species_guess` matches the taxon name exactly.

I realize we have a number of issues with what to show on that list, but if we're going to show the `species_guess` there to deal with translation issues, it should no

[2016-07-18 23:28] kueda commented on #191
1. This seems to just happen when signed in as kueda, but I've tried with multiple builds and on two devices and the experience is the same. Can you think of a reason why this would be user-specific? Or maybe it's related to having a lot of projects?

The rest look fixed to me.

[2016-07-18 23:29] kueda commented on #172
Tested this repeatedly this weekend while trying to figure out related bugs and I think this is fixed.

[2016-07-18 23:29] #172 closed

[2016-07-18 23:31] kueda commented on #170
This is all looking fixed to me. Can we close this, @joellebel?

[2016-07-18 23:33] kueda commented on #185
Working for me in build 142

[2016-07-18 23:33] #185 closed

[2016-07-18 23:52] joellebel commented on #166
Let's find time to talk about this early next week.

[2016-07-18 23:57] loarie opened #203 "Issue with observation photos loading in Projects Obs tab"
If I open a project like http://www.inaturalist.org/projects/2016-national-parks-bioblitz-cabrillo-intertidal-bioblitz on the Android app, some photos on the Project Details/Observations tab load (e.g. "Esponjas y...") but not others (e.g. "Western...")
![img_7063_720](https://cloud.githubusercontent.com/assets/598026/16934117/4fbc8fb8-4d08-11e6-8f1f-f10966641915.jpg)
The ones that load and don't

[2016-07-19 00:11] kueda commented on #176
There's still some weirdness here. One is that it doesn't seem to be consistently using the preferred_common_name or the species_guess consistently. E.g.

1. Go to http://www.inaturalist.org/observations/new?taxon_id=5212-Buteo-jamaicensis&locale=es-MX and make a new obs of that species. It should have a species_guess of "Aguililla cola roja" but a common name of "Red-tailed Hawk" if requested in

[2016-07-19 00:11] joellebel commented on #170
Projects list view is looking great.

I still don't see the drop shadows on my phone (build 142) or two of ken-ichi's phones in the below places...

### Project screen

![image](https://cloud.githubusercontent.com/assets/11527994/16934359/5eec0386-4d0a-11e6-97c1-1c12d2b94d4a.png)

### Profile screen

![image](https://cloud.githubusercontent.com/assets/11527994/16934387/a73e9a54-4d0a-11e6-853b-2428

[2016-07-19 00:33] joellebel commented on #169
@budowski It looks like we've lost the visibility of the Identifications tab when you get the project screen.

For example, on my phone is looks like this...

![image](https://cloud.githubusercontent.com/assets/11527994/16934679/731e99ba-4d0d-11e6-9099-01bffd657bfd.png)

On one of @kueda's phones it looks like above mock ups.

My concern is that if users don't see the Identifications tab from the

[2016-07-19 01:06] budowski commented on #191
1. Really odd - do you notice this problem for other projects/fields?

[2016-07-19 01:09] budowski commented on #170
@joellebel - yeah, these screens are troublesome for drop shadows the "standard" way - I can try and implement it in other ways.

[2016-07-19 01:10] budowski commented on #169
@joellebel - the thing is that you can't set percentage for the widths of the tabs (just a fixed size), so on different sized phones it'll look different.
I can investigate to see if there's a way to hack around that (somehow program the tab widths in run time)

[2016-07-19 16:29] joellebel commented on #169
Ok. tnx. That would be great.

[2016-07-19 16:30] joellebel commented on #170
okeedoke.

[2016-07-19 23:14] #200 closed

[2016-07-19 23:35] budowski commented on #176
@kueda - It's because we initially set the taxon name from the observation's species_guess property (which is in Spanish, in this case). In case there's working connection, we retrieve the full taxon details using the chosen taxon_id (then we get the English name).

[2016-07-19 23:42] budowski commented on #201
@kueda - Tried recreating this, including stopping while uploading the observations, or while uploading their photos. It didn't seem to resume sync.
At what stage does it occur? What type of upload? Observations with photos? With project fields?

[2016-07-19 23:50] budowski commented on #195
@joellebel - can't seem to recreate this:
Does it happen to you on your observations? Or for other users' observations?
Does it happen again and again for the same observation?

[2016-07-20 00:08] kueda commented on #176
Whether or not we cache the taxon (and I think we probably should), the issue here is consistency between the obs list and taxon detail. Theoretically if you pull down data from http://www.inaturalist.org/observations/kueda.json?locale=en you should get enough information to show a localized common name like you would when retrieving data from http://www.inaturalist.org/taxa/47602.json, right? E.g

[2016-07-20 00:08] budowski commented on #192
@loarie :
1. Website URL: Is it colombia.inaturalist.org ?
2. Logo: Could you please email me the logo?
3. Tutorial images: Will those be the same as Naturalista? Even if so, the first tutorial image will have to be different (as it contains the logo)

[2016-07-20 00:14] budowski commented on #176
You're right - basically, in the observation list, we use the preferred_common_name we cached before (it's a mechanism we added a couple of months ago). I can update the observation viewer to use that same mechanism.

[2016-07-20 00:15] kueda commented on #201
Yesterday it seemed to be happening when I cancelled at any point. Right now it's only happening consistently if I cancel between observation and photo upload, i.e. when it says "1 new, 0 updated." I do have to wait 10-20 seconds for the unexpected sync to kick in, and it seems to complete really quickly. This is an observation with a photo but not project observations, no fields, not even a locat

[2016-07-20 00:19] kueda commented on #191
Yeah, e.g. when I add an obs to http://www.inaturalist.org/projects/asc-roadkill-observations on the web I see the "Identification Confidence," "Road Type," and "Road Speed Limit (mph)" fields, but in the app I don't see "Identification Confidence." For http://www.inaturalist.org/projects/alien-lichens-in-the-pnw I see "Lichen substrate," "Habitat," "Apothecia present," and "Abundance," but in the

[2016-07-20 00:36] kueda opened #204 ""Add to project(s)" should never be grayed out"
When I view the observation edit view the "Add to project(s)" text is a lighter shade of gray than the rest of the text, which makes it look disabled, even though it's not.

[2016-07-20 00:50] #201 closed

[2016-07-20 00:51] budowski commented on #201
OK, found the issue - it checked for user cancellation while uploading photos, but at the end of each upload iteration (instead at the beginning)

[2016-07-20 02:02] #191 closed

[2016-07-25 05:32] #203 closed

[2016-07-25 05:32] #204 closed

[2016-07-25 05:52] #196 closed

[2016-07-26 02:29] joellebel commented on #195
This is happening for my obs as well as when I look at others. It's happening less now though. I tap on an ob and swipe photos immediately when I get to the screen. It seems to be happening less now and only happens with 3 or more photos. It also still happens for previously opened obs. Hopes this helps. @kueda is this happening for you?

[2016-07-26 05:06] budowski commented on #195
I'll try to recreate this with observations that have more than 3 photos

[2016-07-26 16:55] kueda commented on #195
Yup, happening for me, but I have to swipe quickly after viewing the observation. If I wait a second or two it's fine.

[2016-07-26 17:43] joellebel opened #205 "Incorrect Observation Count"
According to the web and iOS I have 999 observations, but on Android I have only 783. @kueda has also mentioned others are seeing this ob count discrepancy. Is there a fix?

[2016-07-26 17:58] loarie commented on #192
Hi @budowski, you can get that info here http://www.inaturalist.org/sites/6.json
specifically:
1. http://colombia.inaturalist.org
2. big logo http://static.inaturalist.org/sites/6-logo_square.png
small logo http://static.inaturalist.org/sites/6-logo.png
3. Lets replace the first slide of the NaturaLista MX logo with one using big logo above - can you do that or want me to provide?

[2016-07-26 18:48] kueda opened #206 "render offline images asynchronously in obs list"
Currently we're using https://github.com/koush/UrlImageViewHelper to load images from the web asynchronously in the observations list and it's great, very speedy, but when you scroll to an observation with a photo that was taken in the app, your scrolling halts and becomes jerky, presumably because we are loading the image data from a file and re-sampling every time we show it. I'd prefer to have

[2016-07-26 19:22] kueda opened #207 "Identification form remarks needs auto-correct and wrap"
When you choose a taxon for an identification you see a "Remarks" text field. That fields needs to auto-correct text and wrap like the comment form does.

[2016-07-28 23:05] kueda opened #208 "make sure we're using facebook api v2.1 or higher"
Facebook is deprecating version 2.0 of their API on August 8, 2016 (see https://developers.facebook.com/docs/apps/changelog), so please check to make sure any Facebook code we have is not using the 2.0 API.

[2016-07-29 18:09] kueda opened #209 "ability to replace / remove profile pic"
This is one of our most frequent support requests. IMO, if we just allow the user to click their profile pic in the side menu and bring up some kind of context menu to choose or take a photo, that would do the trick, but @joellebel, please holler if you'd prefer a different interaction.

This needs to allow the user to:

- [ ] choose an existing photo as a profile pic
- [ ] take a new photo as a p

[2016-07-29 18:12] kueda opened #210 "ability to change username"
Another frequently requested feature, mostly for new users. Less clear on the UI for this, but maybe we can adopt whatever you come up with for iOS, @joellebel?

- [ ] change username when signed in
- [ ] should not allow you to remove your username
- [ ] should handle validation errors from `PUT /users/:id` for usernames like "bo" or "$^%"

[2016-07-30 00:16] budowski commented on #208
We use the Facebook Android SDK (and not the graph API directly).
The way it works with the Android (and iOS) SDKs, is that they call the latest graph API version that was available during the release of that SDK (see [here](http://stackoverflow.com/a/24648823/1233767) and [here - "Upgrading from v1.0 to v2.0" section](https://developers.facebook.com/docs/apps/upgrading)).
We currently use Faceboo

[2016-07-30 00:16] #208 closed

[2016-07-30 00:16] kueda commented on #208
Cool, thanks for checking.

[2016-07-30 00:20] budowski commented on #205
@joellebel - Weird, it shows 1020 observations at the moment when I view your user profile. Or do you see that low number on the side menu?

[2016-07-30 00:21] budowski commented on #209
Basically we have some design work done by @joellebel for this part:
https://github.com/inaturalist/iNaturalistAndroid/issues/182

[2016-07-30 00:22] budowski commented on #210
The me screen from [here](https://github.com/inaturalist/iNaturalistAndroid/issues/182) doesn't include a username change part. But I'm assuming it's basically another text field, no?

[2016-07-30 00:23] budowski commented on #202
@kueda - I'm unable to recreate this with the latest build - I'm uploading a new build now (beta 146), could you please re-check?

[2016-07-30 00:46] #169 closed

[2016-07-30 00:46] #199 closed

[2016-07-30 00:46] #206 closed

[2016-07-30 00:46] #207 closed

[2016-07-30 01:06] #195 closed

[2016-07-30 15:27] budowski commented on #170
Fixed in beta build 146 - @joellebel - note that I had to use a different implementation for those specific pages

[2016-08-01 18:30] joellebel commented on #205
Oh. I see it in the side menu. Thanks for the clarification.

[2016-08-01 19:19] budowski commented on #205
OK, cool - I'll look into this and fix

[2016-08-01 21:45] joellebel commented on #210
We could also simply add this to the settings menu. Let me think about it for sec...

[2016-08-01 21:53] budowski commented on #210
If we already have an "edit profile" screen, wouldn't it make sense for it to contain anything user related - user name, bio, full name and profile screen?

[2016-08-01 22:01] kueda opened #211 "including a past photo is overriding coordinates"
To replicate,

1. Make a new observation without a photo, let the GPS kick in and add coordinates
1. Add a photo that does not have coordinates
1. Confirm that the coordinates have been overridden.

To follow the iPhone app, the only time we should use the coordinates from a photo is when you add an obs from the obs list using the "Choose Image" option, i.e. when you make a new observation directl

[2016-08-01 22:09] kueda commented on #202
Me neither, but here's a situation where this still happens:

1. Add an observation with no taxon in the app and upload to the website
1. On the website, add an ID of genus _Raphanus_
1. In the app, pull down to refresh. Your observation should display as `"Raphanus"` in the obs list but as the taxon _Raphanus_ on the obs detail page.

[2016-08-01 22:17] joellebel commented on #210
Yep... that's right. I need to look start looking at my mock ups before I talk :P I'm going to finish this conversation in this issue because it will encompass username, name, profile pic and bio editing.

[2016-08-01 22:17] joellebel commented on #210
in this issue... https://github.com/inaturalist/iNaturalistAndroid/issues/182

[2016-08-01 22:18] kueda opened #212 "write coordinates to external copy of photo"
As of #199 we store an external copy of each photo that users can access outside of the app, which is great. However, one of the benefits of doing this in the iPhone app is that a user can reconstruct an observation from that photo using the datetime and coordinates, but currently it doesn't look like we're writing the coordinates to the photo EXIF, so you can quite use the photo as a backup.

So

[2016-08-01 22:23] kueda opened #213 "canceling out of the observation form leaves any photos you added"
To replicate

1. Make a new observation without a photo and save it
1. Edit that observation and add a photo
1. Tap the back arrow and when you get the confirmation dialog asking you if you want to discard your change, say "Yes"
1. The photo now appears on the obs list even though you discarded your changes.

This is especially weird when auto-upload is on and it just starts uploading the image yo

[2016-08-01 22:26] kueda commented on #170
Looks good to me. Can you confirm and close, Joelle?

[2016-08-01 22:34] kueda commented on #194
Is this in build 146, Yaron? I revoked location permission from the app and the "Nearby" projects tab just shows a loading spinner forever. Same with the "Guides" tab.

[2016-08-01 23:32] joellebel opened #214 "Sign Up / Log In Screen Wrong Hint Text Color and Other Fixes"
Somehow the field hint text got changed to black on the sign up and log in screens. Please make it white at 40%. I'm kinda thinking this bug is a higher priority since it really may affect folks' ability to log in and sign up.

Looks like this is happening on @kueda's phone as well.

![image](https://cloud.githubusercontent.com/assets/11527994/17311928/b7a00f00-5803-11e6-9d6e-389ea42005cb.png)

##

[2016-08-01 23:37] joellebel opened #215 "Profile Pic Pixellated Edges"
Looks like the profile pics still have pixellated edges. I can't tell if the image is too low of a resolution or just the edges are pixellated. See below...
## Example

![image](https://cloud.githubusercontent.com/assets/11527994/17312236/1b506638-5806-11e6-8f40-0787aedf83ed.png)

@kueda is also having this problem

[2016-08-01 23:52] joellebel commented on #170
- [ ] This is looking pretty good on the ob detail screen. Can we just make the dropshadow 5% more transparent? Muchas gracias, senor Yaron.

- [ ] Double bg: When you scroll to the top there is two backgrounds and two dropshadows...

![image](https://cloud.githubusercontent.com/assets/11527994/17312536/499e59b2-5808-11e6-9ef6-2dbb521edc57.png)

[2016-08-01 23:59] joellebel opened #216 "Profile BG Image Overly Stretched"
Right now it looks like the bg photo of the profile header is only being stretched horizontally. See below...

![image](https://cloud.githubusercontent.com/assets/11527994/17312648/1dbc77b0-5809-11e6-8969-12f63c2ca9fd.png)

Would it be time consuming to enlarge it in equal proportions so Alex's head doesn't look squished? ;)

[2016-08-02 00:03] joellebel opened #217 "Joining and Leaving Projects Not Immediately Working"
Right now when I join a project and go back to the "Joined" tab, the project does not show up in the list. (Also happening on @kueda's phone) However, it will show up if I leave the Projects section and say go to the Explore tab and come back.

Same trouble, but in reverse with leaving a project... when I leave a project and immediately go back to the "Joined", it is still in my list of joined pro

[2016-08-02 00:05] kueda opened #218 "images weirdly stretched on obs edit form"
This is what http://www.inaturalist.org/observations/3781120 looks like to me in the app:

![screenshot_20160801-170213](https://cloud.githubusercontent.com/assets/22691/17312754/f8aa32a4-5809-11e6-9624-a7c10c9fd43e.png)

Kind of weird b/c that first pic is a square.

[2016-08-02 00:29] joellebel commented on #176
The Species_Guess is still showing up for me in the Me screen...

## Steps to reproduce bug

I go into airplane mode with and do not turn on wifi. Make an ob with a taxon name that should match up to iNat taxonomy. When I reconnect to wifi the taxons update on the ob detail, but remain a species guess in quotes on the Me screen. See below...

![image](https://cloud.githubusercontent.com/assets/115

[2016-08-02 00:38] joellebel opened #219 "Autosync Does Not Activate After Regaining Connectivity"
# Steps to Reproduce Bug

1. Turn off connectivity
2. Make an ob
3. Turn connectivity back on
4. Obs remain in Waiting for Upload... state and pull to refresh does not activate a sync.

## Expected Behavior

Obs should sync automatically.

[2016-08-02 01:15] joellebel opened #220 "Cancel Auto Upload Button"
Here's what I'm thinkin'...

While the ob(s) is/are uploading can we do a little snack bar that comes down from the navbar like this...

![image](https://cloud.githubusercontent.com/assets/11527994/17313758/5b70453c-5813-11e6-8678-736d577fb9a6.png)

...except the text would read "Uploading # of #..." and the button on the right would say "CANCEL" instead of "UNDO"

If we want to make it simple, it

[2016-08-02 05:24] #211 closed

[2016-08-03 19:38] kueda opened #221 "switch naturalista requests to www.naturalista.mx and handle redirects gracefully"
The easy part of this is that Naturalista wants to use http://www.naturalista.mx from now on, and we'd like to stop supporting requests to http://conabio.inaturalist.org, so we need to change the Android app so that it never sends requests to http://conabio.inaturalist.org

The harder part of this is that I think the Android app should handle server-side changes like this more gracefully. We tried

[2016-08-03 20:21] loarie commented on #192
@budowski - reopening because the logo I provided is too small and is resulting in a pixelated image, (see https://github.com/inaturalist/inaturalist/issues/1091) if you give me dimensions I'll provide a larger version.

Also, the popup is not internationalized (see https://github.com/inaturalist/inaturalist/issues/1091). In spanish, it should read:

¿Quieres usar %@, un miembro de la red de Natur

[2016-08-03 21:06] joellebel commented on #220
...or the button can stay "Stop" that's shorter.

We can also use this for manual sync while the app is syncing, but that's a separate issue. Just wanted to mention it here.

[2016-08-03 23:09] joellebel commented on #182
Hey guys. I've been noodling on the me screen a bit and have some second thoughts on the original design. See below...

## Original Design

This is the flow if you go from the side menu > ME > Edit Profile. ...and I am asking myself why do we need to repeat the user profile pic, name and bio since we have most of that in the side menu in classic Android fashion.

![image](https://cloud.githubuserc

[2016-08-03 23:13] kueda commented on #182
I think I like the new, alternate approach better. It's more important for me to see my observations than my own user icon and description.

Regarding the action button, I think your approach is good and I don't think that's potentially weird.

[2016-08-03 23:34] joellebel commented on #182
ok. cool. @budowski let me know if you have any thoughts... Does this make development at all easier?

[2016-08-03 23:50] joellebel opened #222 "Grid View and Me Screen Proposal"
We haven't really discussed this much, but since I was working with a new Me screen direction I thought I'd toss this design out there since we now have good grid view in the Projects section, as well. Perhaps we can repurpose this grid view from the Projects section fairly easily?

The grid/list view options would exist in the overflow menu in the upper right. We could also put other things there

[2016-08-03 23:52] joellebel commented on #222
...This is what it might look like in manual sync mode...

Here's two directions for what it might look like in manual sync mode.... I can also whip up something special for non-logged in / first time users to prompt them to upload.

![image](https://cloud.githubusercontent.com/assets/11527994/17385881/76cf5ee8-599a-11e6-8565-8d6f6fbc9f12.png)

[2016-08-04 02:14] budowski commented on #192
Logo - Anything with a width of 400px+ will be good enough.
That message is new in strings.xml, that's why it wasn't translated yet - will add

[2016-08-04 02:15] budowski commented on #220
Looks good - "Stop" instead of undo is better IMHO, since undo supposedly means that it'll undo all of the previous sync operations as well (which is not the case if you press the button).

[2016-08-04 02:19] budowski commented on #182
Looks good!
But does that mean that the main (initial) screen will be the obs+species+identifications screen?
If so, what should we do in case the app is offline? Should we cache those results?

[2016-08-04 02:22] budowski commented on #222
Looks like a good direction.
Some notes:
1. Options menu - grid/list view - does this view options apply to all three tabs?
2. Identifications/species - What happens when we're offline? These won't be available
3. Search - will this work only on observations? Or also on species/identifications? (just a little confusing since it's up there in the action bar)

[2016-08-04 15:46] kueda commented on #222
Looks good to me, Joelle. I like the version where the upload button is far
from the add button. I often accidentally start uploading by fat fingering
the add button or the home button. Another thing to consider: what does
this look like on a tablet? Fixed number of columns or fixed width grid?

On Aug 3, 2016 7:22 PM, "budowski" <notifications@github.com> wrote:

Looks like a good direction.
Some

[2016-08-04 15:48] kueda commented on #182
IMO it would be nice to cache if possible / easy. But I'd be OK with some
kind of "internet connection required" notice or something.

On Aug 3, 2016 7:19 PM, "budowski" <notifications@github.com> wrote:

[2016-08-04 16:26] joellebel commented on #220
Definitely. I just took that screenshot from the demo page.

[2016-08-04 17:27] kueda commented on #220
Works for me.

[2016-08-04 19:04] joellebel commented on #182
One last thing guys... I was thinking it would be nice to be able to view your own profile without having to go through the Explore tab so I added a View Profile button. Below is the flow from tapping View Profile to seeing your own profile.

![image](https://cloud.githubusercontent.com/assets/11527994/17414375/0fc522dc-5a3a-11e6-98b2-353bce3bab52.png)

Note: Users can potentially stay here a long

[2016-08-04 21:09] joellebel commented on #182
...Also just a note... I'm working on the change username, edit photo, edit bio, edit name flows now today and maybe tomorrow.

[2016-08-05 01:06] budowski commented on #202
Found the issue - the JSON returned for observations with that taxon, the `common_name` property of the observation's `taxon` object was `null`. So added logic to use the taxon's `name` property in that case

[2016-08-05 01:19] budowski commented on #212
The problem is that photos taken via the app don't contain coordinates. We need to insert them afterwards (which may take some time, since sometimes getting coordinates takes a few seconds or more).
Two options:
1. We'll add a background service that will update those external image files with coordinates later on, once we retrieve them (in case the user closes the observation editor before we man

[2016-08-05 01:27] kueda commented on #212
Hm, so are you saying it's impossible to do something like send out a camera intent that says it wants an image back *and* coordinates if possible? If so, I *think* 2 will be adequate. 1 sounds like a lot of complexity. This also brings up the related issue that I don't think the obs editor screen is attempting to fetch coordinates in the background while the camera app is in the foreground, b/c I

[2016-08-05 02:19] budowski commented on #212
Yes, that's a known issue with Android (can't store the coordinates as part of the camera intent).
Sure thing, I'll implement it as option no. 2

[2016-08-06 03:18] #205 closed

[2016-08-06 03:23] budowski commented on #192
@loarie - I've updated the string - could you please send me a bigger logo? thanks

[2016-08-07 15:51] themusicgod1 opened #223 "reproducible build option"
Please offer reproducible builds so that non-developers can safely use your app.

[2016-08-07 19:05] budowski commented on #223
Maybe the best option, since it's intended for non-developers, is to use releases+tags (i.e. download the APK files by version, as described in [here)](https://github.com/blog/1547-release-your-software).
@kueda - your thoughts?

[2016-08-08 06:42] kueda commented on #223
I'm not really sure what it would take to achieve reproducible builds, but tying APKs to tags and using github releases would be great.

[2016-08-08 08:54] budowski commented on #223
Sounds good - because assuming non-developers won't open up Android Studio, giving out APKs they can download would probably be the easiest solution for them.

[2016-08-08 18:12] joellebel commented on #222
@kueda I also prefer the version where the upload button is far from the add button.

[2016-08-08 18:14] kueda commented on #222
Looking at this again I don't love how the cycle / need-to-upload icon overlaps the name, though I guess it's a minor issue for me. Also, we should be trying to use the word "Upload" instead of "Sync."

[2016-08-08 18:18] joellebel commented on #222
Agreed. This was just a rough sketch to get an idear. It could very well go in an upper corner of the thumbnail... except the sync buttons would get covered up in the top row of the thumbnails by the sync banner. Hrmmmm... anyways. Food for thought.

[2016-08-08 18:19] joellebel commented on #222
...unless the thumbnails begin below the sync banner. ;)

[2016-08-08 19:01] kueda opened #224 "obs detail not showing species_guess if no taxon"
To replicate make a new observation and enter a `species_guess` without choosing a taxon (i.e. choose a placeholder). The observation detail page shows "Unknown species" when it should show the placeholder / species_guess. @joellebel, this wasn't an intentional design, was it? Seems like an omission to me.

[2016-08-08 19:06] joellebel commented on #224
Nope. Was not intentional. The ob detail page should show the species_guess in that instance... as long as it has not matched up to a taxon on the server.

[2016-08-08 19:11] kueda opened #225 "project chooser doesn't show all observation fields for users with tons of projects"
Like me. Need to verify that these fields have actually been downloaded to the app and if not, why not. Failed request? Cancelled request due to backgrounding?

[2016-08-08 19:14] kueda opened #226 "obs icon flickering while upload"
Not quite a bug, but doesn't quite look right either: when you're uploading observations the observation photos in the list view seem to flickr between the unknown iconic taxon icon and the photo between each observation upload. To replicate this, try to upload 3+ observations with auto-upload turned off. Is there a way to avoid this flicker?

[2016-08-08 19:15] joellebel commented on #192
Sadly, this is the only logo I have, which is there old one...

![image](https://cloud.githubusercontent.com/assets/11527994/17492661/a1d8a3ea-5d61-11e6-899e-147bf78d9efd.png)

@kueda Is there someone I can contact to get an SVG?

[2016-08-08 19:19] kueda commented on #213
I suspect this is related: creating a new, blank observation without a photo and then hitting cancel causes a crash. Probably https://fabric.io/inaturalist/android/apps/org.inaturalist.android/issues/561e2ef0f5d3a7f76bc9dd5b

[2016-08-08 19:21] budowski commented on #225
There was a bug related to this that was fixed - that project observation fields were being overwritten if they had the same ID. Does it happen even if you made a clean re-install?

[2016-08-08 19:22] budowski commented on #226
It's probably related to the fact that we now load the locally-taken photos in the background thread (as to not block the UI while scrolling the list) + we cache the photos.
I'll look into this and fix

[2016-08-08 19:23] budowski commented on #224
Hmmm - Shouldn't happen, will fix

[2016-08-08 19:56] kueda opened #227 "allow copying text from comments and IDs on obs detail"
Currently it doesn't seem to be possible to copy the text of any comment or ID bodies on the obs detail view.

[2016-08-08 20:02] kueda commented on #192
This is for Naturalista Colombia not Naturalista in Mexico, which has different branding. I think we're probably going to need to hear from @loarie on this one.

[2016-08-08 20:58] joellebel commented on #192
ahh.... correcto. ok.

[2016-08-08 22:28] kueda commented on #221
I'm pretty sure this was the source of the upload errors, i.e. people who had set their app to use inaturalist.ca, POSTing to http://www.inaturalist.ca/observations, and getting redirected to http://inaturalist.ca/observations. I was able replicate it in build 150 this morning so I'm not sure this fixed it.

We changed inaturalist.ca to not redirect so we could solve the upload problem for now. Fo

[2016-08-08 22:37] kueda commented on #170
To be clear that's only happening on the user profiles, right?

[2016-08-08 22:47] kueda commented on #194
As of build 150 I'm not getting the loading spinner forever, but I am getting just "No guides found!" instead of the UI described in the screenshot above, i.e. the text "iNaturalist does not have permission to view your location..." with a button that reads "Go to Settings" that launches the Settings app, preferably with the iNaturalist app/s "App info" or "App permission" screen open.

[2016-08-08 22:52] kueda commented on #202
I can still reproduce this using the steps above, but re-reading them I realize they may have been unclear. When I wrote "Your observation should display as "Raphanus" in the obs list" I meant that was the erroneous state I was experiencing the app, not the way I think it *should* behave. Since the name Raphanus matches the name of the taxon exactly, it should display without quotes.

[2016-08-08 23:45] budowski commented on #170
Yes, these are two of the "problematic" screens in terms of implementing a drop shadow for the their tabs

[2016-08-08 23:46] budowski commented on #194
Will fix - it's probably a different type of error detection when the app's permission is revoked (as opposed to just having the location services off for the entire phone)

[2016-08-08 23:47] kueda opened #228 "delete all user content on signout"
Current we seem to only delete unsynced data, but I think when you sign out the expectation is that the app just forgets about the user, i.e. it removes all info related to that user, so I think we should just delete all observations, observation photos, project observations, and project field values on sign out.

See https://github.com/inaturalist/iNaturalistAndroid/commit/b64774cceac8400b81cc0b9

[2016-08-09 06:51] joellebel commented on #182
# Ready for Dev...

Here's all the finals... The purple circle represents where the user has tapped to show the flow. The right two screens are the Species and Identifications tabs

## Me Screen Overview

![image](https://cloud.githubusercontent.com/assets/11527994/17506862/0ad61d78-5dc1-11e6-8cb0-8a3ade8f9120.png)

### Observations Tab

* list items link to corresponding observations

### Species

[2016-08-09 06:57] joellebel commented on #182
# Edit Profile Screens and Flows

## New User

This is how it would look for a new user or user that has never updated their profile pic. The little green edit icon disappears after it has been updated once.

![image](https://cloud.githubusercontent.com/assets/11527994/17507179/0fb10928-5dc3-11e6-85f4-8fa5803cb603.png)

## Legacy User

This is how it would look for a user who has a profile pic alr

[2016-08-09 07:12] joellebel commented on #182
# Take Photo Flow

@budowski I'm open to doing whatever is easiest. We don't even have to do the Take Photo flow, if too time consuming. I grabbed these screenshots from iOS. Can we do something like this that involves a "Crop" screen (see third screen which gives you the ability to adjust where photo is cropped). Please see latest iOS app for a demo of this.

![image](https://cloud.githubusercont

[2016-08-09 07:17] joellebel commented on #182
# Question...

@kueda do you think we need to ask folks for a confirmation that really want to change their username when they update it?

[2016-08-09 07:21] joellebel commented on #182
I also think we need to put an "Edit Profile" link in the Settings screen, but I'll include that in my redesign of Settings.

[2016-08-09 07:27] joellebel opened #229 "Guides incorrect icon"
![image](https://cloud.githubusercontent.com/assets/11527994/17508036/c31658ac-5dc7-11e6-99b9-3e96f24d4fc1.png)

Can use the white version of this icon instead of the briefcase? https://design.google.com/icons/#ic_book

[2016-08-09 07:29] joellebel commented on #182
I will make a separate issue for how search will work on this screen. For now, just ignore the icon.

[2016-08-09 12:58] loarie commented on #192
here's a bigger version
![nat](https://cloud.githubusercontent.com/assets/598026/17516988/f1f107ce-5e73-11e6-9a23-c016954676c7.png)

[2016-08-09 19:17] joellebel commented on #182
@budowski I've uploaded the sketch file here on dropbox: Design > Android > me_v02_r02.sketch

I also tried to organize it and label it as perfect as possible ;)

[2016-08-09 21:40] kueda opened #230 "can't import cloud photos"
E.g. photos from Google Photos that are not on the device. Symptoms I'm experiencing are that I can choose the photo, but on the obs edit form it appears as a mail / envelope icon. When I save, the obs detail view has no photo. When I upload, no photo uploads and the observation appears stuck in "Waiting to upload" state.

[2016-08-10 00:37] kueda commented on #182
Ok with RG labels. I don't think we need to confirm changes to the username. Yaron, let me know if you have any questions about retrieving or submitting any of this data. User icons can be done with `PUT /users/:id.json` with `user[icon]=FILE` in the body. Icon deletion is done with the `icon_delete` param (see http://www.inaturalist.org/pages/api+reference#put-users-id)

[2016-08-10 00:50] kueda opened #231 "allow identification editing"
We will soon be preventing users from deleting identifications and instead just marking those identifications as not current. Since we want to make sure people who write some text in identifications can remove it, we need to support identification editing.
- [ ] Change the word "Delete" to "Withdraw" in the contextual menu in the upper right of identifications in the obs detail view (shouldn't be

[2016-08-11 00:11] joellebel commented on #182
sounds good to me.

[2016-08-11 00:12] joellebel commented on #192
@budowski let me know if you need me to resize that at all.

[2016-08-12 18:11] kueda opened #232 "double posting observation field values"
Apologies in advance because this is a vague one: the Android app is occasionally double-posting observation field values, one correct but another with an incorrect `observation_id`. For example: http://www.inaturalist.org/observations/3845496 has `Dragonfly Larva Sample ID: 16NPDF0222`, but when that user posted that from the Android app, it also created the same observation field value at http:/

[2016-08-13 03:09] #212 closed

[2016-08-13 03:09] #218 closed

[2016-08-13 03:10] budowski commented on #214
Fixed in latest build (152)

[2016-08-13 03:11] budowski commented on #213
Fixed in build 151

[2016-08-13 03:11] #213 closed

[2016-08-13 03:11] budowski commented on #192
Added in build 151

[2016-08-13 03:11] #192 closed

[2016-08-13 03:25] #202 closed

[2016-08-13 03:37] budowski commented on #221
@kueda - I tried the following and I'm getting a 200 OK response:
* Change `inat_host_inaturalist` to `inaturalist.org`
* Add a new observation and sync
* This sync causes a POST to be sent to `http://inaturalist.org/observations.json`
* API call is successful

Am I missing something here?